.card{

	>.card-header{
		align-items:center;
		>.card-title{
			flex:1;
			margin:0;
		}
		>.action{
			flex:0 1 auto;
			margin-left:20px;
		}
	}

	&.card-container{
		>.card-header{
			>.card-title{
				@include font-size(48px);
				color:var(--bs-primary);
				font-weight:700;
				small{
					font-size:18px;
					font-weight:600;
					color:#ababab;
					display:block;
				}
				&.card-title-md{
					@include font-size(30px);
				}
				&.card-title-sm{
					@include font-size(24px);
				}
			}
			.btn-filters{
				display:flex;
				align-items: center;
				i{
					font-size:24px;
					color:#333;
				}
				.title{
					font-size: 18px;
					font-weight:600;
					color:#333;
					text-transform:uppercase;
					margin-left:12px;
				}
				.counter{
                    width: 26px;
				    height: 26px;
				    text-align: center;
				    vertical-align: middle;
				    display: flex;
				    align-items: center;
				    justify-content: center;
					border-radius:50%;
					background-color:var(--bs-secondary);
					color:#fff;
					font-weight:600;
					font-size:14px;
					margin-left:8px;
					&:empty{
						display:none;
					}
				}
			}
		}
		>.card-body{

		}
		>.card-footer{

		}
	}

	&.card-container-solid{
		background-color:#fff;
		padding:30px 40px;
		@media (max-width: 991px){
			padding:30px 30px;
		}
	    border:1px solid rgba(#191817, .15);
	    box-shadow: 0px 0px 15px 0px rgba(37, 34, 32, 0.08);
	    --#{$prefix}card-border-radius: 22px;
	    --#{$prefix}card-inner-border-radius: 22px;
	    --#{$prefix}card-bg: #fff;
		>.card-header{
			.card-title{
				@include font-size(24px);
				color:var(--bs-primary);
				font-weight:700;
				small{
					font-size:18px;
					font-weight:600;
					color:#ababab;
					display:block;
				}
			}
		}
		>.card-body{
			.card-title{
				@include font-size(24px);
				color:var(--bs-primary);
				font-weight:700;
				small{
					font-size:18px;
					font-weight:600;
					color:#ababab;
					display:block;
				}
				&-sm{
					@include font-size(16px);
					small{
                        font-size:14px;
					}
				}
			}
			.card-text{
				font-size: 16px;
			    color: #666;
			    line-height: 1.5;
			}
			>.list{
				>.list-group-item{
					.title{
						font-size:18px;
						color:#333;
						font-weight:600;
						margin-bottom:0;
						small{
							font-size:16px;
							font-weight:600;
							color:#ababab;
							display:block;
						}
					}
					.description{
						font-size:14px;
						color:#666;
						font-weight:400;
					}
				}
			}
		}
		.m-reverse{
			margin-top:-30px;
			margin-bottom:-30px;
			margin-left:-40px;
			margin-right:-40px;
			padding-bottom:30px;
			@media (max-width: 991px){
				margin-left:-30px;
			    margin-right:-30px;
			}
		}
		.mx-reverse{
			margin-left:-40px;
			margin-right:-40px;
			@media (max-width: 991px){
				margin-left:-30px;
			    margin-right:-30px;
			}
		}
		//&:not(:first-child){
		+.card-container-solid{ 
			margin-top:40px;
		}

		&.card-container-solid-lg{
			padding:40px 50px;
			@media (min-width: 992px) and (max-width: 1199px){
				padding:30px 40px;
			}
			@media (max-width: 991px){
				padding:30px 30px;
			}
			.m-reverse{
				margin-top:-40px;
				margin-bottom:-40px;
				margin-left:-50px;
				margin-right:-50px;
				padding-bottom:40px;
				@media (min-width: 992px) and (max-width: 1199px){
					margin-top:-30px;
					margin-bottom:-30px;
					margin-left:-40px;
					margin-right:-40px;
					padding-bottom:30px;
				}
				@media (max-width: 991px){
					margin-left:-30px;
				    margin-right:-30px;
				}
			}
			.mx-reverse{
				margin-left:-50px;
				margin-right:-50px;
				@media (min-width: 992px) and (max-width: 1199px){
					margin-left:-40px;
					margin-right:-40px;
				}
				@media (max-width: 991px){
					margin-left:-30px;
				    margin-right:-30px;
				}
			}

		}
	}


	&.card-sidebar-menu{
		background-color:#f2f2f2;
		border-radius:6px;
		>.card-header{
			background-color:transparent;
			border:none;
			padding:25px;
			.card-title{
				font-size:26px;
				small{
					display:block;
				}
			}
		}
		>.card-body{
			padding:25px;
			padding-top:0px;
			.nav{
				li{
					a{
						cursor:pointer;
						border:1px solid #666;
						color:#666;
						background-color:transparent;
					}
					&.active{
						a{
							background-color:$base-color;
							color:#fff;
							border-color:$base-color;
						}
					}
					&:not(:first-child){
						margin-top:20px;
					}
				}
			}

		}
	}
}



/*
sm 28
md 34
lg 42
*/

//button-size($padding-y, $padding-x, $font-size, $border-radius)


.btn{
	font-family:$header-font;
	text-transform: uppercase;
	font-weight: 700;
	line-height:1.4;
	letter-spacing:0px;
	/*@include button-size(10px, 28px, 14px, $btn-border-radius);
	&[class*="btn-fa-"]:not(.btn-fa-end) {
		padding-left:48px;
	}
	&.btn-fa-end{
		&:not(.btn-fa-start){
			padding-left:28px;
			padding-right:48px;
		}
	}
	&:before{
		font-size: 16px;
	}*/
}

.btn{
	&.btn-icon{
		padding:0px 5px!important;
		font-size:18px;
		&:active{
			border-color:transparent!important;
		}
	}
}



.btn-fa{
	&-angle-right{
		@include btnFa("angle-right");
	}
	&-angle-left{
		@include btnFa("angle-right");
	}
	&-play{
		@include btnFa("play", 600);
	}
	&-memo{
		@include btnFa("memo", 600);
	}
	&-file-arrow-down{
		@include btnFa("file-arrow-down", 400);
	}
	&-eye{
		@include btnFa("eye", 400);
	}
}




.nav-vr{
	font-size:16px;
	font-weight:400;
	>li{
		position:relative;
		a{
            color:#888;
            &:before{
            	font-weight: 300;
    			color: #ccc;
            }
            &:hover{
            	color:#666;
            	&:before{
    				color: #999;
            	}
            }
		}
		&.active{
			a{
				font-weight:600;
				color:var(--bs-secondary);
				&:before{
    				color: #999;
            	}			
			}
		}
	}
}

.card-module{
	position: relative;
	background-color:#fff;
	border-radius:18px;
	border:1px solid #eee;
	padding:20px;
	box-shadow:0px 0px 10px 0px rgba(37, 34, 32, 0.05);
	margin-bottom: 40px;
	.table{
		font-size:14px;
		margin:0;
		border:none;
		thead{
			tr{
				th{
                    padding:8px 18px;
                    color:$base-color;
                    font-weight:600;
                    font-size:12px;
                    //text-transform:uppercase;
                    h1,h2,h3,h4,h5,h6{
	                    font-size: 22px;
						color: $base-color;
						font-weight: 600;
						margin-bottom: 15px;
						display: block;
						text-transform:normal;                  	
                    }
				}
			}
		}
		tbody{
			tr{
				td{
                    padding:8px 18px;
                    color:#777;
                    font-weight:500;
				}
			}
		}

		&.table-striped{
			tbody{
				tr{
					td{
	                    padding:8px 18px;
	                    &:first-child{
	                    	border-top-left-radius: 14px;
	                    	border-bottom-left-radius: 14px;
	                    }
	                    &:last-child{
	                    	border-top-right-radius: 14px;
	                    	border-bottom-right-radius: 14px;
	                    }
					}
				}
			}
			&:not(.table-bordered-vertical){
				thead{
					tr{
						th{
		                    border:none;
						}
					}
				}
				tbody{
					tr{
						td{
							border:none;
						}
					}
				}
			}
		}

		&.table-bordered-vertical {
			border-collapse: separate;
			border-spacing: 0;
			th, td{
				border-top:none;
				border-bottom:none;
				border-right-style: dashed;
				border-right-color: #999;
				border-right-width: 2px; /* Dash'lerin uzunluğu */
				border-right-gap: 4px; /* Dash'ler arasındaki boşluk */
				&:first-child{
					border-left: none;
				}
				&:last-child{
					border-right: none;
				}
			}
		}

	}
}




.page-header{
	background-color: #f9f9f9;
	padding:24px 48px;
	h1{
		@include font-size(36px);
		font-weight:400;
		margin:0;
		color:$base-color!important;
	}
	@include media-breakpoint-down(md) {
        text-align:center!important;
        padding:24px 15px;
	}
}


.marker-cluster-small{
	background-color: rgba($base-color, .6);
	div{
		background-color:$base-color;
		color:#fff;
	}
}



.leaflet-ratio{
	@include media-breakpoint-up(xl) {
	    --bs-aspect-ratio: calc(9 / 32 * 100%);
	}
	@include media-breakpoint-between(lg, xl) {
	    --bs-aspect-ratio: calc(9 / 24 * 100%);
	}
	@include media-breakpoint-between(md, lg) {
	    --bs-aspect-ratio: calc(9 / 16 * 100%);
	}
	@include media-breakpoint-between(sm, md) {
	    --bs-aspect-ratio: calc(9 / 12 * 100%);
	}
	@include media-breakpoint-down(sm) {
	    --bs-aspect-ratio: calc(9 / 9 * 100%);
	}
}

.ratio{
	.leaflet-map{
		height:100%!important;
	}
	&.ratio-32x9{
		--bs-aspect-ratio: calc(9 / 32 * 100%);
	}
}



.leaflet{
	.leaflet-map-pane{
		.leaflet-tile-pane{
			@include grayscale();
		}	 	
	}
}

.leaflet-popup{
	.leaflet-popup-content-wrapper{
		border-radius: 22px;
		box-shadow: 0 3px 14px rgba(0,0,0,.2);
		.leaflet-popup-content{
			font-size: 12px;
		    color: #777;
			max-width:120px!important;
		}
	}
	.leaflet-popup-close-button{
		display:none;
	}	
}


.leaflet-control-zoom{
	border-color:$base-color;
	.leaflet-control-zoom-in,
	.leaflet-control-zoom-out{
		border:none;
		&:not(.leaflet-disabled){
			background-color:var(--bs-primary);
			color:#fff;
			&:hover{
				background-color:var(--bs-primary);
			    color:#fff;
			}
		}
	}
}




header#header-shop{
	position:relative;
	//z-index:3;
	.row-item{
		min-height: 60px;
		align-items:center;
	}
	.nav-pills{
		font-family:$header-font;
		line-height:1;
		text-transform:uppercase;
		@include rfs(12px, --#{$prefix}nav-link-font-size);
		--#{$prefix}nav-link-padding-x: 24px;
        --#{$prefix}nav-link-padding-y: 10px;
        --#{$prefix}nav-link-font-weight: 600;
        --#{$prefix}nav-link-color: #444;
        --#{$prefix}nav-link-hover-color: #fff;
        --#{$prefix}nav-pills-border-radius: 22px;
		--#{$prefix}nav-pills-link-active-color: #fff;
		--#{$prefix}nav-pills-link-active-bg: #111;
		li{
			a{
				background-color:#f2f2f2;
				&:hover{
					background-color:#282828;	
				}
			}
			&:not(:first-child){
				margin-left:10px;
			}
			&.active{
				a{
					background-color:#333;
					color:#fff;
				}
			}
		}
	}
	.woocommerce-ordering{
		float:none;
		@include media-breakpoint-up(lg) {
			display: flex;
			justify-content:end;
		}
	}
	.form-select{
		color:#666;
		//border:none;
		cursor:pointer;
		padding: 10px 56px 10px 25px;
  		border-radius: 18px;
  		width: auto;
  		@include transition(background-color .3s ease-out);
		&:hover{
			background-color: #f8f8f8;
		}
		@include media-breakpoint-down(lg) {
			width: 100%!important;
		}
	}
	.result-count{
		color:#666;
	}
}


.nav-ancestory{
	.btn-ancestory{
		background-color:transparent;
		border:none;
		@include transition(background-color .3s ease-out);
		i{
			color:#ccc;
			font-size: 52px;
		}
		.ancestory{
			display:flex;
			align-items:center;
			img{
				max-height:50px;
				width:auto;
			}
			.title{
				margin:0;
  				font-size: 18px;
                color: #666;
                font-weight:400;
                text-transform:none;
			}
		}
		&:hover{
			i{
				color:#999;
			}
			.title{
                color: #333;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		.btn-ancestory{
		   min-width:320px;
		   &:hover{
		   		background-color:#f7f7f7;
		   }
		}
	}
}




/*! purgecss start ignore */
.accordion-custom{
	--#{$prefix}accordion-color: #{var(--bs-primary)};
	--#{$prefix}accordion-bg: #fff;
	--#{$prefix}accordion-border-color: transparent;
	--#{$prefix}accordion-border-width: 0px;
	--#{$prefix}accordion-border-radius: 0px;
	--#{$prefix}accordion-inner-border-radius: 0px;
	--#{$prefix}accordion-btn-padding-x: 0px;//#{$accordion-button-padding-x};
	--#{$prefix}accordion-btn-padding-y: #{$accordion-button-padding-y};
	--#{$prefix}accordion-btn-color: #{var(--bs-primary)};//#{$accordion-button-color};
	--#{$prefix}accordion-btn-bg: #{$accordion-button-bg};
	--#{$prefix}accordion-btn-icon-width: 25px;
	--#{$prefix}accordion-btn-focus-border-color: #{$accordion-button-focus-border-color};
	--#{$prefix}accordion-btn-focus-box-shadow: #{$accordion-button-focus-box-shadow};
	--#{$prefix}accordion-body-padding-x: 0px;//#{$accordion-body-padding-x};
	--#{$prefix}accordion-body-padding-y: #{$accordion-body-padding-y};
	--#{$prefix}accordion-active-color: #{var(--bs-primary)};
	--#{$prefix}accordion-active-bg: #fff;

	border:none;
	border-radius:0;
	.accordion-item{
		.accordion-header{
			.accordion-button{
				.title{
                    font-size: 22px;
                    color: #111;
                    font-weight: 400;
					small{
						font-size: 16px;
                        font-weight: 400;
                        color:#888;
					}
				}
				img{
					max-width:120px;
				}
			}
			&.accordion-header-category,
			&.accordion-header-category .accordion-button{
				font-size: 32px;
				font-weight:700;
			}
		}
		.accordion-body{
			.list-files{
				padding-top: 20px;
			    border-top: 1px solid #eee;
			    margin-top: 40px;
			}
		}

		&.active{
			&.out-viewport{
				.accordion-header{
					position:sticky;
					top:0;
					z-index: 1;
					//border-bottom:1px solid #eee;
					.col-image{
						display:none;
					}					
				}
			}
		}

		&.error{
			.accordion-header{
				.accordion-button{
					&:before{
						content:"\f071";
						font-family: $icon-font;
						color:$danger;
						font-size:22px;
						margin-right:15px;
					}
				}
			}
		}
	}
	&.accordion-seperated{
		.accordion-item{
			border-radius: 32px;
			border-color: #ddd;
	        border-width: 1px;
			&:not(:first-child){
				margin-top:20px;
			}
			.accordion-header{
				.accordion-button{
					border-radius: 32px;
					&:not(.collapsed){
						border-color:#aaa;
						box-shadow:none;
					}
					&:hover{
						border-color:#aaa;
					}
				}
			}
		}
	}
}




.img-placeholder{
	//@include aspect-ratio(744, 400);
	&.img-not-found{
		background-color: rgba(#000, .05);
		background-position: center center;
		background-size: 30% auto;
		@if($logo != ""){
			background-image: url($logo);
		}
		background-repeat: no-repeat;
	}
}

/*
[class^="tease-"], [class*=" tease-"] {
	//.card-header{

		.card-title{
			font-weight:700;
			a{
				display:block;
				color:$base-color;
			}
		}
		small{
			font-size:12px;
			font-weight:500;
		}
	//}
	.card-body{
		font-size:16px;
		font-weight:400;
	}
}
*/



.wp-block-image{
	figure{
		figcaption{
			text-align:center;
			color: #666;
            font-size: 14px;
		}
	}
}



.slab-text-container{
			color:var(--bs-primary);
			line-height:1;
			//text-shadow: 3px 3px 0px rgba(40, 114, 175, 0.2);
			//font-size:96px;
			>span{
				//display:block!important;
				font-weight: 600;
				letter-spacing: -5px!important;
				word-spacing: 0px!important;
				&:nth-child(1){
					font-weight: 600;
					//@include font-size(96px!important);
					letter-spacing: -5px!important;
				    word-spacing: 0px!important;
				}
				&:nth-child(2){
					font-weight: 800;
					//@include font-size(96px!important);
					letter-spacing: -5px!important;
				    word-spacing: 0px!important;
				}
				strong{
					font-weight:800!important;
				}
			}
}





.swiper-zoom-in{
	.swiper-bg{
		transform:scale(1.1);
		@include transition(all 3s ease-out);
	}
	.swiper-slide-active{
		.swiper-bg{
			transform:scale(1);
		}
	}	
}



.text-glitch{
	  color:white;
	  font-size:100px;
	  position:relative;
	  width:auto;
	  margin:0 auto;
	  text-align: center;
	  &:before{
		  content:attr(data-text);
		  position:absolute;
		  left:-2px;
		  text-shadow:1px 0 blue; 
		  top:0;
		  width:100%;
		  color:white;
		  //background:black;
		  overflow:hidden;
		  clip:rect(0,900px,0,0); 
		  animation:noise-anim-2 3s infinite linear alternate-reverse;
	}
	&:after{
		  content:attr(data-text);
		  position:absolute;
		  left:2px;
		  text-shadow:-1px 0 red;
		  top:0;
		  width:100%;
		  color:white;
		  //background:black;
		  overflow:hidden;
		  clip:rect(0,900px,0,0); 
		  animation:noise-anim 2s infinite linear alternate-reverse;
	}
}
@keyframes noise-anim{
	 $steps:20;
	 @for $i from 0 through $steps{
	    #{percentage($i*(1/$steps))}{
	      clip:rect(random(100)+px,9999px,random(100)+px,0);
	    }
	 }
}
@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}



.inner-shadow{
	&:after{
		content:"";
		@include absolute-fill();
		z-index: 2;
		box-shadow: inset 0 0 300px rgba(#000, .6);
	}
}
/*! purgecss end ignore */