$primary: #3be52b;
$secondary: #3838ea;
$tertiary: #ef3991;
$quaternary: #8400cc;
$amandiyim: #33dae0;
$custom-colors: (
	primary: #3be52b,
	secondary: #3838ea,
	tertiary: #ef3991,
	quaternary: #8400cc,
	amandiyim: #33dae0
);
$custom-colors-list: primary,secondary,tertiary,quaternary,amandiyim;
