.mapplic-element{
	.mapplic-container{
		.mapplic-map{
			.mapplic-layer{

				.mapplic-tooltip{
					.mapplic-tooltip-wrap{
						border-radius:10px;
						max-width:150px;
						.mapplic-tooltip-triangle{

						}
						.mapplic-tooltip-close{

						}
						.mapplic-image{
                            border-top-left-radius:10px;
                            border-top-right-radius:10px;
                            max-height: 150px;
							max-width: 150px !important;
							text-align: center;
							margin-left: auto;
							margin-right: auto;
							display: flex;
						}
						.mapplic-tooltip-body{
							.mapplic-tooltip-title{
								font-size:14px;
								margin:0;

							}
							.mapplic-tooltip-content{
								margin-top:0;
								&:empty{
									display:none;
								}
								.mapplic-tooltip-description{

								}
							}
							.mapplic-popup-link{
								background-color:#007bff;
							}
						}
					}
				}

			}
		}
	}
}

html[dir="rtl"]{
	.mapplic-element{
		.mapplic-container{
			.mapplic-map{
				float:left;
				//.mapplic-layer{
					.mapplic-tooltip{
						&:after{
                          left:0;
						}
					}
				//}
			}
		}
	}
}