<div class="nav-item nav-search {{menu_class}}">
    <a href="#" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch" title="{{translate("Search")}}">
        <i class="fa-light fa-magnifying-glass closed"></i>
        <i class="far fa-times opened"></i>
    </a>
</div>