<div class="nav-item nav-image {{menu_class}}">
    {% if function('get_extension', menu_image) == "svg" %}
        {{function('inline_svg', menu_image, {"class": "img-fluid img-fluid-vr"})}}
    {% else %}
        <img src="{{menu_image}}" class="img-fluid img-fluid-vr" alt="{{site.name}}" />
    {% endif %}
</div>