<li class="nav-item nav-search {{menu_class}}">
    <a href="#offcanvasSearch" role="button" data-bs-toggle="offcanvas" aria-controls="offcanvasSearch" title="{{translate("Arama Yap")}}">
        <i class="fa-light fa-magnifying-glass closed"></i>
        <i class="far fa-times opened"></i>
    </a>
</li>