<li class="nav-item nav-toggler {{menu_class}}">
    <a href="#" class="nav-toggler-custom {% if user.notifications_count > 0 or user.messages_count > 0 %}has-notification{% endif %}" data-bs-toggle="offcanvas" data-bs-target="#main-mobile" aria-controls="main-mobile" title="{{translate("Menü")}}">
        <span></span>
    </a>
</li>