{#
  Title: Video
  Description: Video
  Category: saltblocks
  Icon: video-alt3
  Keywords: video film movie
  Mode: auto
  Align: 
  PostTypes: 
  SupportsAlign: left right center wide full
  SupportsAlignContent: true
  SupportsMode: true
  SupportsMultiple: true
  SupportsAnchor: true
  SupportsCustomClassName: true
  SupportsReusable: true
  SupportsFullHeight: true
#}
{% set block_main_field = [] %}
{% set block_iterable = [] %}
{% set block_extras = { classes : "position-relative", container : "z-1 position-relative" } %}
{% set block_required_js = [ "plyr" ] %}
{% extends "blocks/_block-container.twig" %}

{% block block_content %}

    {% set parallax_attrs = {"data-scroll": true, "data-scroll-speed": -5} %}

    {% if fields.wrapper_class %}
        <div class="{{fields.wrapper_class}} w-100" {{parallax_attrs|array2Attrs}}>
    {% endif %}

    {% if fields.template_block %}
        {% include fields.template_block with { fields: fields } %}
    {% else %}
        {{  video({
                src: fields,
                class: "", 
                init: true, 
                lazy: (not is_preview),
                attrs: fields.wrapper_class?[]:parallax_attrs
            })
        }}
    {% endif %}

    {% if fields.wrapper_class %}
        </div>
    {% endif %}

{% endblock %}