{% extends "base.twig" %}

{% set  page_settings = {
            full : true,
            classes : {
                body : "",
                main : "d-flex justify-content-center align-items-center",
                container : "",
                gap : "",
            },
            offcanvas : {
                    individual : false,
                    size : "md",
                    width : 3,
                    position : "start",
                    template : ""
            },
            alert : {
                type : "danger",
                title : "",
                message : "",
                position : "bottom",
                fixed : false,
                class : "",
                html : ""
            },
            paging : {
                posts_per_page : 10,
                page : 1
            }
        }
%}


{% block content %}
    <div class="container-sm">
    	<div class="d-flex flex-column text-center">
            {{icon}}
            <h3 class="title">{% if title %}{{title}}{% else %}Not found{% endif %}</h3>
            {% if message %}
                <div>{{message}}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block after_main %}  
{% endblock %}