{% extends "base.twig" %}

{% set  page_settings = {
            full : true,
            classes : {
                body : "",
                main : "d-flex justify-content-center aşign-items-center py-5",
                container : "",
                gap : "",
            },
            offcanvas : {
                    individual : false,
                    size : "md",
                    width : 3,
                    position : "start",
                    template : ""
            },
            alert : {
                type : "danger",
                title : "",
                message : "",
                position : "bottom",
                fixed : false,
                class : "",
                html : ""
            },
            paging : {
                posts_per_page : 10,
                page : 1
            }
        }
%}


{% block content %}
    <div class="container">

        <div class="container-inner">

            <div class="row">

                <div id="content" class="col" style="min-height:400px;">

                    <div class="content-centered">
                        <div class="content-block">
                            {{icon}}
                            <h3 class="title">{% if title %}{{title}}{% else %}No authorization!{% endif %}</h3>
                            {% if message %}
                               <div>{{message}}</div>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block after_main %}  
{% endblock %}