.wp-block {
    &[data-align] {
        float: none;
        position: relative;
        height: auto;
        >* {
            float: none;
            margin-right: auto;
        }
    }
}

.block-slider {
    .swiper {
        height: 100%;
        width: 100%;
        display: flex;
        flex: auto;

        .swiper-wrapper {
            .swiper-slide {
                overflow: hidden;

                .content {
                    z-index: 1;

                    .title {
                    }

                    .description {
                    }

                    form {
                        .wpcf7-response-output {
                            font-size: 14px;
                            line-height: 1.4;
                        }

                        .form-label {
                            display: none;
                        }

                        .form-control {
                        }

                        .small {
                        }
                    }
                }

                &.swiper-slide-video {
                    .video-bg {
                        height: 100%;
                    }

                    .swiper-bg {

                        &.loaded {
                            background-color: transparent;
                        }
                    }

                    &.loaded {
                        .swiper-bg {
                            background-color: transparent;
                        }
                    }
                }

            }
        }

        &:not(.swiper-vertical):not(.jarallax-img) {
            height: auto !important;
        }

        &.jarallax-img {
            height: auto;
            pointer-events: auto !important;
        }
    }

}

.swiper-pagination{
    transition: .3s color ease-out, .3s background-color ease-out;
}