$primary: #293a44;
$secondary: #091747;
$tertiary: #edeeed;
$quaternary: #e5f4ff;
$custom-colors: (
	primary: #293a44,
	secondary: #091747,
	tertiary: #edeeed,
	quaternary: #e5f4ff,
);
$custom-colors-list: primary,secondary,tertiary,quaternary,;
