$primary: #ff340a;
$secondary: #f2f2f2;
$tertiary: #1d1d1d;
$quaternary: #ffffff;
$custom-colors: (
	primary: #ff340a,
	secondary: #f2f2f2,
	tertiary: #1d1d1d,
	quaternary: #ffffff
);
$custom-colors-list: primary,secondary,tertiary,quaternary;
