.card{

	&.card-reset{
		@include card-reset();
	}

	&.card-slider-posts-vr{
		
		>.card-header{
			display:flex;
			.card-title{
				flex:1;
				font-family:var(--font-primary);
				@include font-size(36px);
				color:$base-color;
				font-weight:600;
				text-align:center;
				margin:0;
				.card-text{
					font-family:var(--font-primary);
					color:#999;
					font-size:16px;
					font-weight:400;
					margin-top:0px;
					display:block;
				}
			}
			&.align-left{
				.card-title{
					text-align:left;
				}
			}
			&.header-sm{
				.card-title{
					font-size:26px;
					.card-descrption{
						font-size:14px;
					}
				}
			}
			.action{
				&:empty{
					display:none;
				}
			}
		}
		>.card-body{
			position:relative;
			.card-slider-posts{
				&:not(.show){
					max-height:320px;
				}
				.swiper-wrapper{
					//padding:10px 0px;
				}
			}
			>.row{
				justify-content:center;
			}
		}
		>.card-footer{
			text-align:center;
			&:empty,
			&::blank{
				display:none;
			}
		}
		&.size-lg{
			>.card-footer{
				.btn-view-all{
					display:inline-block;
				}
			}
		}
	}

}



@media (max-width: 767px){

    .card{

    	&.card-slider-posts-vr{
			>.card-header{
	            display:block;
	            text-align:center;
	            .card-title{
	            	font-size:24px;
	            	 text-align:center;
	            	.card-text{
	            		display:none;
	            	}
	            }
	            &.align-left,
	            &.align-right{
	            	.card-title{
	            		text-align:center;
	            	}
	            }
	            .action{
	            	display:none;
	            	&:not(:empty){
	            	   margin-top:15px;
	                }
	            	.btn-view-all{
						display:none;
					}
	            }
			}
			>.card-body{
				padding-left:0px;
				padding-right:0px;
				.card-slider-posts{

				}
			}
			>.card-footer{
				.btn-view-all{
					display:block;
				}
			}
		}

    }

}



.card-merged{
    box-shadow:none;
    > .card:not(:first-child){
       margin-top:0px;
       border-top:none;
       border-top-left-radius:0px;
       border-top-right-radius:0px;
       >.card-header{
          border-top-left-radius:0px;
          border-top-right-radius:0px;
       }
    }
    > .card:first-child:not(:last-child) {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    > .card:not(:first-child):last-child{
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
    > .card:not(:last-child):not(:first-child) {
      border-radius: 0px;
    }
    > .card{
	      box-shadow:none;
	      margin-bottom:0px;
	      > .card-header{
	         cursor:pointer;
	      }
	      &:not(.card-layout){
	      	 > .card-header{
		         padding:20px 30px;
		     }
	      }
	      .card-body{
	         >.card-merged{
	            margin-bottom:0px;
	            >.card{
	               border-radius: 0px;
	               >.card-header{
	                   border-radius:0px;
	               }
	            }
	         }
	      }
    }
    > .card{
        .card-header:after{
           display:none;
        }
    }
    .card-body.p-0{
        >.card-merged{
            >.card{
               border-radius:0px;
               border-left:0px;
               border-right:0px;
            }
        }
    }
}
