.lazy{
	    opacity:0;
	    &:not(.initial) {
		    @include transition(opacity .5s ease-out);
		}
		&.initial,
		&.loaded,
		&.error {
			&:not(.fade){
				opacity: 1;
			}
			&.fade{
				&:not(.show){
					opacity: 0;
				}
				&.show{
					opacity:1;
				}
			}
		}
		&img:not([src]) {
		   //visibility: hidden;
		   display:none;
		}
}