.slabtexted {
  .slabtext {
    display: -moz-inline-box;
    display: inline-block;
    white-space: nowrap;

    &.slabtextinactive {
      display: inline;
      white-space: normal;
      font-size: 1em !important;
      letter-spacing: inherit !important;
      word-spacing: inherit !important;
      *letter-spacing: 0 !important;
      *word-spacing: 0 !important;
    }

    &.slabtextdone {
      display: block;
      line-height: 0.9;
    }
  }
}
