<i class="icon-heart-o"></i>
                    {{translate('Favorite list is empty.')}}
                    <a class="btn btn-base btn-extend btn-sm" href="{{ function('esc_url', function('apply_filters', 'woocommerce_return_to_shop_redirect', function('wc_get_page_permalink', 'shop' ) ) ) }}">
                        {{translate('Go Shopping')}}
                    </a>