<div class="card-container card card-reset ajax-paginate" data-posts_per_page="1" data-order="desc" data-load="button" data-tease="user/tease" data-size="xs" data-show_follow="true" data-id="{{data.id}}" data-action="get" data-method="get_followers">
    <div class="card-body p-0">
        <ul class="list-group list-cards list-group-flush"></ul>
    </div>
    <div class="card-footer justify-content-end">
        <a href="#" class="btn-next-page btn btn-light btn-extend w-100" data-init="true">Load <span class="item-left"></span> More</a>
    </div>
</div>