{% set  page_settings = {
            full : true,
            classes : {
                body : "",
                main : "d-flex ",
                container : "",
                gap : "",
            },
            offcanvas : {
                individual : false,
                size : "md",
                width : 3,
                position : "start",
                template : ""
            },
            alert : {
                type : "danger",
                title : "",
                message : "",
                position : "bottom",
                fixed : false,
                class : "",
                html : ""
            },
            paging : {
                posts_per_page : 10,
                page : 1
            }
        }
%}

<div class="container-md">
    <form class="form form-validate" id="form_renew_password" autocomplete="off" method="post" data-ajax-method="update_profile">
        <div class="card-container-solid card card-reset">
            <div class="card-header pb-4">
                <h4 class="card-title">
                    Reset Your Password
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <input type="password" id="password" class="form-control" autocomplete="false" name="password" value="" required/>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label">Confirm New Password</label>
                            <input type="password" id="password_1" class="form-control" autocomplete="false" name="password_1" value="" data-rule-equalto="#password[name='password']" required/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center pt-3">
                <input type="hidden" name="activation-password" value="{{activation_password}}"/>
                <input type="hidden" name="action" value="renew_password"/>
                <button type="submit" class="btn-submit btn btn-secondary fw-bold btn-lg border-0">Reset Password</button>
            </div>
        </div>
    </form>
</div>