.page-login-signup{
	position:relative;
	min-height:$login-height;
    background-color:$login-bg-color;
	@if $login-bg-image != ''{
	    &:before{
	        content:"";
	        position:absolute;
	        top:0;
	        bottom:0;
	        left:0;
	        right:0;
	        background-position:map-get($login-bg-image, "position");
	        background-repeat:map-get($login-bg-image, "repeat");
	        background-image:url(map-get($login-bg-image, "url"));
	        @if map-get($login-bg-image, "size") != ''{
	        	@include background-size( map-get($login-bg-image, "size"));
	        }
	        @if map-get($login-bg-image, "grayscale") {
	        	@include grayscale();
	        }
	        @if map-get($login-bg-image, "multiply") {
		        background-blend-mode:multiply;
		        mix-blend-mode:multiply;
		    }
		    @if map-get($login-bg-image, "bg-color") != ''{
	            background-color:map-get($login-bg-image, "bg-color");
	        }
	        @if map-get($login-bg-image, "opacity") != ''{
	            opacity:map-get($login-bg-image, "opacity");
	        }
	        @if map-get($login-bg-image, "index") != ''{
	        	z-index:map-get($login-bg-image, "index");
	        }
	    }
     } @else {
     	background-color:var(--primary-color);
     }

	>*{
		position:relative;
	}

}




.card-login-signup{
	>.card-header{
	    .card-title{
		    font-family:var(--header-font);
		    font-size:24px;   	
	    }
	}
	>.card-body{
	    .form-control{
	    	+.input-group-append{
	    		height:100%;
	    		margin-top:1px;
	    		.btn{
	    			border-color:transparent;
	    			border:0;
	    		}
	    	}
	    }
	    .form-text{
	    	font-family:var(--font-primary);
	    	font-size:11px;
	    	color:#ddd;
	    }
	    a:not(.btn){
	    	color:#fff;
	    }
	    em.is-invalid{
           //color:#fff;
	    }
	}
	&.on-bg-light{
		>.card-body{
			.form-control{
				border-color:rgba(#000,.4);
			}
		}
	}
	>.card-footer{
	}

	&.card-login{
        //border-top:1px dashed rgba(#000,.2);
        //padding-top:30px;
	}
}

@media (min-width: 992px) {

	.page-login-signup{
		.col-login{
			//border-right:1px solid rgba(#fff,.2);
		}

	}

	.card-login-signup{
		&.card-login{
			//border-top:none;
			//padding-top:0;
			>.card-body{
				//padding-top:56px;
			}
		}
	}

}

