



.image-uploader-single{
    width:100%;
    min-width:100%;
    .image-uploader{
        padding:0;
        border:none;
        background-color:#fff;
        min-height:$card-profile-image-height;
        .uploaded{
            padding:0!important;
            .uploaded-image{
                width: 100%!important;
                padding-bottom: 100%!important;
                margin: 0!important;
                border-radius:50%;
                display:flex;
                justify-content:center;
                img{

                }
                .delete-image{
                }
            }
        }
        .upload-text{
            cursor:pointer;
            color:#999;
            span{
                display:none;
            }
        }
        &.has-files{

        }
    }
}


.card-profile{
	position:relative;
	background-color:$card-profile-bg-color;
	color:$card-profile-color;
	height:$card-profile-height;
	padding:$card-profile-padding;
	@if $card-profile-bg-image != ''{
	    &:before{
	        content:"";
	        position:absolute;
	        top:0;
	        bottom:0;
	        left:0;
	        right:0;
	        z-index:0;
	        background-position:map-get($card-profile-bg-image, "position");
	        background-repeat:map-get($card-profile-bg-image, "repeat");
	        background-image:url(map-get($card-profile-bg-image, "url"));
	        @if map-get($card-profile-bg-image, "size") != ''{
	        	@include background-size( map-get($card-profile-bg-image, "size"));
	        }
	        @if map-get($card-profile-bg-image, "grayscale") {
	        	@include grayscale();
	        }
	        @if map-get($card-profile-bg-image, "multiply") {
		        background-blend-mode:multiply;
		        mix-blend-mode:multiply;
		    }
		    @if map-get($card-profile-bg-image, "bg-color") != ''{
	            background-color:map-get($card-profile-bg-image, "bg-color");
	        }
	        @if map-get($card-profile-bg-image, "opacity") != ''{
	            opacity:map-get($card-profile-bg-image, "opacity");
	        }
	        @if map-get($card-profile-bg-image, "index") != ''{
	        	z-index:map-get($card-profile-bg-image, "index");
	        }
	    }
    } @else {
     	//background-color:$card-profile-bg-color;
    }
    .card-profile-inner{
     	position:relative;
     	display:flex;
     	align-items:center;
     	>.image{
               min-width:120px;
     		img{
     			//border-radius:50%;
                    background-color:#fff;
     		}
            .profile-photo-main{

            }
     	}
     	.description{
     		flex:1;
     		padding-left:30px;
     		.label{
     			display:inline-block;
     			padding:2px 8px;
     			background-color:$base-color-light;
     			color:#fff;
     			font-size:11px;
     			text-transform:uppercase;
     			border-radius:6px;
     		}
     		.title{
     			margin:0px;
     			font-size:26px;
     			font-weight:600;
     		}
     		.info{
     			font-size:14px;
     			color:#ddd;
     		}
     	}
     	.action{
     		padding-left:30px;
     	}
     }
}
@media (max-width: 767px) {
     .card-profile{
          padding:20px;
          height:auto;
          .card-profile-inner{
               flex-direction:column;
               justify-content:center;
               align-items:center;
               text-align:center;
               z-index:1;
               .image{
                    max-width:60px;
                    img{
                         max-width:100%;
                         height:auto;
                    }
                    .profile-photo-main{
                        width:100%;
                    }
               }
               .description{
                    padding:0;
                    .label{
                         font-size: 10px;
                         position:absolute;
                         top:-10px;
                         left:-25px;
                    }
                    .title{
                         font-size: 18px;
                         margin-top: 5px;
                    }
                    .info{
                         font-size: 12px;
                    }
               }
               .action{
                    padding:0;
                    padding-top:10px;
                    .btn{
                         font-size: 12px;
                         padding: 3px 10px;
                         border-color: rgba(255,255,255,.5);
                         color: rgba(255,255,255,.8);
                    }
               }
          }
     }
}



.card-profile-edit{
     border-radius:4px;
     border:none;
     >.card-header{
          background-color:#f2f2f2;
          border:none;
          padding:30px;
          .card-title{
               font-size:36px;
               font-weight:600;
               margin:0;
               small{
                  display:block;
                  font-size:15px;
                  font-weight:400;
                  color:#666;
               }
          }
     }
     >.card-body{
          background-color:#f2f2f2;
          padding:30px;
          border-bottom-left-radius:4px;
          border-bottom-right-radius:4px;
          .profile-edit-item{
               border-radius:4px;
               padding:30px;
               &:not(:last-child){
                   margin-bottom:30px; 
               }
               .form-label{

               }
               &.profile-gallery{
                    padding:22px;
                    .form-label{
                        padding-left:8px;
                    }
                    .image-uploader{
                         padding:0;
                         border:none;
                         min-height:9rem;
                         .uploaded{
                              padding:0;
                         }
                         .upload-text{
                              cursor:pointer;
                              span{
                                   color:#999;
                              }

                         }
                         &.has-files{
                              .uploaded{
                                   &:after{
                                       content:"";
                                       display: inline-block;
                                       width: calc(16.6666667% - 1rem);
                                       padding-bottom: calc(16.6666667% - 1rem);
                                       height: 0;
                                       position: relative;
                                       margin: .5rem;
                                       background: #f3f3f3;
                                       cursor: pointer;
                                       background-image:url(#{$host_url}/static/img/icons/icon-load-image.png);
                                       background-position:center;
                                       background-size:cover;
                                       @include transition(opacity .3 ease-out);
                                       &:hover{
                                          opacity:.5;
                                       }
                                   }
                              }
                         }
                    }
               }
          }
          hr:not(.dropdown-divider){
             margin-top:0;
             margin-bottom:30px;
          }
     }
     >.card-footer{display:flex;
          justify-content:flex-end;
          border:none;
          background-color:transparent;
          padding:30px;
     }
}




.menu-profile{
    a{
        padding:15px 0px;
        font-weight:400px;
        border-color:rgba(#000, .125);
        &.active{
            background-color:transparent;
            font-weight:600;
            color:$base-color;
            border-color:rgba(#000, .125);
        }
        &:hover{
          background-color:transparent;
          color:#111;
        }
    }
}