@import 'lib/compass';
@import '3-base/functions';
@import '3-base/mixins';
@import '3-base/variables';

@import "#{$node_modules_path}bootstrap/scss/functions";
//@import '1-frameworks/bootstrap-variables';
@import '#{$theme_static_path}scss/bootstrap-variables';
@import "#{$node_modules_path}bootstrap/scss/variables";
@import "#{$node_modules_path}bootstrap/scss/variables-dark";
@import "#{$node_modules_path}bootstrap/scss/maps";
@import "#{$node_modules_path}bootstrap/scss/mixins";

@import '5-layout/header';
@import '5-layout/footer';
//@import '5-layout/layout';
@import '../../../../../../theme/static/scss/header';
@import '../../../../../../theme/static/scss/footer';


.card-reset{
	@include card-reset();
}