.embed-player {
    background-color: #000;
    //margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
    iframe {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    img{
        cursor: pointer;
        width: 100%;
        top: -16.84%;
        left: 0;
        opacity: 0.7;        
    }
    .play-button {
        cursor: pointer;
        width: 90px;
        height: 60px;
        background-color: #333;
        box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
        z-index: 1;
        opacity: 0.8;
        border-radius: 6px;
        top: 50%;
        left: 50%;
        transform: translate3d( -50%, -50%, 0 );
        span{
            position:absolute;
            bottom:-40px;
            left:-100%;
            right:-100%;
            text-align:center;
            color:#fff;
            font-size:20px;
            font-weight:600;
        }
        &:before {
            content: "";
            border-style: solid;
            border-width: 15px 0 15px 26.0px;
            border-color: transparent transparent transparent #fff;
            top: 50%;
            left: 50%;
            transform: translate3d( -50%, -50%, 0 );
        }
    }
    img,
    iframe,
    .play-button,
    .play-button:before {
      position: absolute;
    }
}

.bg-video{
        //@include aspect-ratio(1, 1);
        background-color:#eee;
        background-image:none!important;
        > iframe,
        > embed,
        > object {
            //@include grayscale();
            //@include multiply();
        }
        &.responsive {
            overflow: hidden;
            position: relative;
            > iframe,
            > embed,
            > object {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
        &.bg-video-fill{
            position:relative;
            overflow:hidden!important;
            > iframe,
            > embed,
            > object {
                position:absolute!important;
            }
        }
        &.bg-video-fit:not(.ratio){
            > iframe,
            > embed,
            > object {
                position:relative!important;
            }
        }
        &.no-react{
            &:before{
                content:"";
                position:absolute;
                left:0;
                top:0;
                right:0;
                bottom:0;
                z-index:1;
            }
        }

        .overlay{
            cursor:pointer;
            display:flex;
            align-items: center;
            justify-content: center;
            &:before{
                    position:absolute;
                    font-family:$icon-font;
                    color:#fff;
                    font-size:62px;
                    font-weight:600;
                    line-height:100%;
                    z-index: 1;
            }
            &:after{
                    content:"";
                    position:absolute;
                    left:0;
                    right:0;
                    top:0;
                    bottom:0;
                    background-color:rgba(#000, 0);
                    z-index:0;
                    @include transition(background-color .3s ease-out);
            }
        }
        &.paused{
            .overlay{
                background-size:cover;
                &:before{
                    content:"\f144";
                }
                &:after{
                    background-color:rgba(#000, .3);
                }
            }
        }
        &.playing{
            .overlay{
                background-size:0;
                &:before{
                    content:"\f28b";
                    opacity: 0;
                    @include transition(opacity .3s ease-out);
                }
                &:hover{
                    &:before{
                        opacity:1;
                    }
                    &:after{
                        background-color:rgba(#000, .3);
                    }
                }
            }
        }

        &.video-react{
            &:not(.inited){
                .overlay{
                    background-size:0;
                }
            }
        }
}

.bg-video-file{
    z-index:0;
    background-image:none!important;
    &.video-react{
            cursor:pointer;
            //&.loaded{
            display:flex;
            justify-content:center;
            align-items:center;
            &:before{
                position:absolute;
                font-family:$icon-font;
                color:#fff;
                font-size:62px;
                font-weight:600;
                line-height:100%;
                z-index: 1;
                opacity: 0;
                top: calc(50% - 31px);
                @include transition(opacity .3s ease-out);
            }  
            .video-bg{
                &:after{
                    content:"";
                    position:absolute;
                    left:0;
                    right:0;
                    top:0;
                    bottom:0;
                    background-color:rgba(#000, 0);
                    z-index:0;
                    @include transition(background-color .3s ease-out);
                }
            }
            &.inited{
                &:before{
                    opacity: 1;
                }
            }
            &.paused{
                &:before{
                    content:"\f144";
                    opacity: 1;
                }
                .video-bg{
                    &:after{
                        background-color:rgba(#000, .3);
                    }
                    video{
                        z-index: 0!important;
                    }
                }
                &.waiting{
                    .video-bg{
                        video{
                            z-index: -1!important;
                        }
                    }
                }
            }
            &.playing{
                &:before{
                    content:"\f28b";
                    opacity: 0;
                    @include transition(opacity .3s ease-out);
                }
                &:hover{
                    &:before{
                        //opacity:1;
                    }
                    .video-bg{
                        &:after{
                            background-color:rgba(#000, .3);
                        }
                    }
                }
                .video-bg{
                    video{
                        z-index: 0!important;
                    }
                }
            }
            .waiting:not([data-video-controls="true"]){
                .video-bg{
                    z-index:auto!important;
                }
            }
            .ended{
                .video-bg{
                    video{
                        z-index: -1!important;
                    }
                }
            }
            &[data-video-bg="true"]{
                &:before{
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);                     
                }
            }
            //}
            &.hover{
                &:before{
                    opacity:1;
                }
            }

    }
    &.playing,
    &.paused:not(.inited):not(.ended){
        >.video-bg{
            background-image:none!important;
        }
    }
    &.no-react{
        &:after{
            content:"";
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            z-index:1;
        }
    }
    video{
        opacity:1!important;
        visibility:visible!important;
    }
}

.video-lightbox{
    position: relative;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    &:before{
        content:"\f144";
        position:absolute;
        font-family:$icon-font;
        color:#fff;
        font-size:62px;
        font-weight:600;
        line-height:100%;
        z-index: 1;
    }
    &:after{
        content:"";
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background-color:rgba(#000, .3);
        z-index:0;
        @include transition(background-color .3s ease-out);
    }
    &:hover{
        &:after{
            background-color:rgba(#000, .5);
        }
    }
}



.leaflet-map{
    width:100%;
}