{#
  Title: Navigation
  Description: Navigation Block
  Category: saltblocks
  Icon: images-alt
  Keywords: navigation menu link
  Mode: auto
  Align: center
  PostTypes: 
  SupportsAlign: left right center wide full
  SupportsAlignfields: true
  SupportsMode: true
  SupportsMultiple: true
  SupportsAnchor: true
  SupportsCustomClassName: true
  SupportsReusable: true
  SupportsFullHeight: true
  ApiVersion: 2
#}
{% set block_main_field = [""] %}
{% set block_extras = { "container" : "z-1 position-relative" } %}
{% extends "blocks/_block-container.twig" %}

{% block block_content %}

    {% set align_item = function("block_align", fields.align_item, true, fields.slider) %}

    {% if fields.menu_view and fields.menu %}
        {% include "blocks/navigation/menu-" ~ fields.menu_view ~ ".twig" with {
            'menu': get_menu(fields.menu).get_items,
            'is_child': false,
            'parent_link' : fields.parent_link,
            "max_level": fields.max_level
        } %}
    {% elseif is_preview %}
        <nav class="d-flex gap-3 align-items-center py-2">
            <a href="#" class="nav-link">Ana Sayfa</a>
            <a href="#" class="nav-link">Hakkımızda</a>
            <a href="#" class="nav-link dropdown-toggle">Hizmetler</a>
            <a href="#" class="nav-link">İletişim</a>
        </nav>
    {% endif %}

{% endblock %}