.bg-cover{
	@include bg-cover();
}
.bg-contain{
  @include bg-contain();
}
.bg-parallax{
  @include bg-cover();
  background-attachment:fixed;
}
.img-multiply{
	background-blend-mode:multiply;
    mix-blend-mode:multiply;
}
.img-grayscale, .img-grayscale-hover, .img-color-hover:hover{
	@include grayscale();
}
.img-grayscale-hover, .img-color-hover{
	@include transition(all .3s ease-out);
}
.img-grayscale-hover:hover {
  /* filter: url(grayscale.svg#ungrayscale);*/
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}

.no-animate{
    left:0px!important;
    right:0px!important;
    @include transition(all 0s linear!important);
}

/*.square-responsive{
	position:relative;
    &:after{
		content: '';
		display: block;
		padding-bottom: 100%;
	}
	>*{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}
}

.vertical-responsive{
	position:relative;
    &:after{
		content: '';
		display: block;
		padding-bottom: 150%;
	}
	>*{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}	
}*/

.fit-content{
   height: -moz-fit-content;
   height: -webkit-fit-content;
   height: -fit-content;
}

.text-unselectable{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

.qtranxs-available-languages-message{
	display:none;
}

/*
.bg-base-color{
	background-color:$base-color!important;
}
.bg-base-color-light{
	background-color:$base-color-light!important;
}
.bg-base-color-dark{
	background-color:$base-color-dark!important;
}
*/

.animate-all{
	@include transition(all .3s ease-out);
}


// viewport height
.h-100v{
	height:100vh;
	&-min{
		min-height:100vh;
	}
}
.h-xxxl-100v{
	@media (min-width: 1600px) {
        height:100vh;
        &-min{
			min-height:100vh;
		}
	}
}
.h-xxl-100v{
	@media (min-width: 1400px)  {
        height:100vh;
		&-min{
			min-height:100vh;
		}
	}
}
.h-xl-100v{
	@media (min-width: 1200px) {
        height:100vh;
        &-min{
			min-height:100vh;
		}
	}
}
.h-lg-100v{
    @media (min-width: 992px) {
        height:100vh;
        &-min{
			min-height:100vh;
		}
	}
}
.h-md-100v{
	@media (min-width: 768px) {
       height:100vh;
        &-min{
			min-height:100vh;
		}
	}
}
.h-sm-100v{
	@media (min-width: 576px)  {
        height:100vh;
        &-min{
			min-height:100vh;
		}
	}
}
.h-xs-100v{
	@media (max-width: 575px){
		height:100vh;
        &-min{
			min-height:100vh;
		}
	}
}



// viewport width
.w-100v{
	width:100vw;
}
.w-xxxl-100v{
	@media (min-width: 1600px) {
        width:100vw;
	}
}
.w-xxl-100v{
	@media (min-width: 1400px)  {
        width:100vw;
	}
}
.w-xl-100v{
	@media (min-width: 1200px) {
        width:100vw;
	}
}
.w-lg-100v{
    @media (min-width: 992px) {
        width:100vw;
	}
}
.w-md-100v{
	@media (min-width: 768px) {
        width:100vw;
	}
}
.w-sm-100v{
	@media (min-width: 576px)  {
        width:100vw;
	}
}
.w-xs-100v{
	@media (max-width: 575px){
		width:100vw;
	}
}


.min-w-100{
    min-width:100%;
}
.min-h-100{
    min-height:100%;
}


.mh-100v-header{
	@media (min-width: 1600px) {
        @include calc(min-height, '100vh - #{$header-height-xxxl}');
	}
	@media (min-width: 1400px) and (max-width: 1599px) {
        @include calc(min-height, '100vh - #{$header-height-xxl}');
	}
	@media (min-width: 1200px) and (max-width: 1399px) {
        @include calc(min-height, '100vh - #{$header-height-xl}');
	}
    @media (min-width: 992px) and (max-width: 1199px) {
        @include calc(min-height, '100vh - #{$header-height-lg}');
	}
	@media (min-width: 768px) and (max-width: 991px){
        @include calc(min-height, '100vh - #{$header-height-md}');
	}
	@media (min-width: 576px) and (max-width: 767px) {
        @include calc(min-height, '100vh - #{$header-height-sm}');
	}
	@media (max-width: 575px){
		@include calc(min-height, '100vh - #{$header-height-xs}');
	}
}
.h-100v-header{
    @media (min-width: 1600px) {
        @include calc(height, '100vh - #{$header-height-xxxl}');
    }
    @media (min-width: 1400px) and (max-width: 1599px) {
        @include calc(height, '100vh - #{$header-height-xxl}');
    }
    @media (min-width: 1200px) and (max-width: 1399px) {
        @include calc(height, '100vh - #{$header-height-xl}');
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        @include calc(height, '100vh - #{$header-height-lg}');
    }
    @media (min-width: 768px) and (max-width: 991px){
        @include calc(height, '100vh - #{$header-height-md}');
    }
    @media (min-width: 576px) and (max-width: 767px) {
        @include calc(height, '100vh - #{$header-height-sm}');
    }
    @media (max-width: 575px){
        @include calc(height, '100vh - #{$header-height-xs}');
    }
}
.header-hide{
    .mh-100v-header,
    .h-100v-header{
        &:not(.out-viewport){
            min-height:100vh!important;
            height:100%!important;            
        }
    }
}

.pt-header{
	@media (min-width: 1600px) {
        padding-top: $header-height-xxxl;
	}
	@media (min-width: 1400px) and (max-width: 1599px) {
        padding-top: $header-height-xxl;
	}
	@media (min-width: 1200px) and (max-width: 1399px) {
        padding-top: $header-height-xl;
	}
    @media (min-width: 992px) and (max-width: 1199px) {
        padding-top: $header-height-lg;
	}
	@media (min-width: 768px) and (max-width: 991px){
        padding-top: $header-height-md;
	}
	@media (min-width: 576px) and (max-width: 767px) {
        padding-top: $header-height-sm;
	}
	@media (max-width: 575px){
		padding-top: $header-height-xs;
	}
    &:not(.offcanvas){
        @include transition(padding-top .3s ease-out);
    }
}
.affix{
    .pt-header{
        @media (min-width: 1600px) {
            padding-top: $header-height-xxxl-affix;
        }
        @media (min-width: 1400px) and (max-width: 1599px) {
            padding-top: $header-height-xxl-affix;
        }
        @media (min-width: 1200px) and (max-width: 1399px) {
            padding-top: $header-height-xl-affix;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            padding-top: $header-height-lg-affix;
        }
        @media (min-width: 768px) and (max-width: 991px){
            padding-top: $header-height-md-affix;
        }
        @media (min-width: 576px) and (max-width: 767px) {
            padding-top: $header-height-sm-affix;
        }
        @media (max-width: 575px){
            padding-top: $header-height-xs-affix;
        }
        &:not(.offcanvas){
            @include transition(padding-top .3s ease-out);
        }
    }    
}

.mt-nheader{
    @media (min-width: 1600px) {
        margin-top: -$header-height-xxxl;
    }
    @media (min-width: 1400px) and (max-width: 1599px) {
        margin-top: -$header-height-xxl;
    }
    @media (min-width: 1200px) and (max-width: 1399px) {
        margin-top: -$header-height-xl;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        margin-top: -$header-height-lg;
    }
    @media (min-width: 768px) and (max-width: 991px){
        margin-top: -$header-height-md;
    }
    @media (min-width: 576px) and (max-width: 767px) {
        margin-top: -$header-height-sm;
    }
    @media (max-width: 575px){
        margin-top: -$header-height-xs;
    }
    &:not(.offcanvas){
        @include transition(margin-top .3s ease-out);
    }
}
.header-hide{
    .pt-header{
        &:not(.out-viewport){
            //padding-top:0!important;
        }
    }
}






/* ==========================================================================
     Responsive Multi Column
   ========================================================================== */

[class^="col-multi-"], [class*=" col-multi-"] {
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}

@media (min-width: 768px) {
  [class^="col-multi-"] .col-break, [class*=" col-multi-"] .col-break {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
  }
}

@for $i from 2 through 6{
	[class^="col-multi-#{$i}"], [class*=" col-multi-#{$i}"]{
       display:block!important;
    }
    .col-multi-#{$i} {
    	display:block!important;
        -moz-column-count: #{$i};
        -webkit-column-count: #{$i};
        column-count: #{$i};
    }
}

@media (min-width: 576px)  {
    [class^="col-multi-sm"], [class*=" col-multi-sm"]{
       display:block!important;
    }
    @for $i from 2 through 6{
        .col-multi-sm-#{$i} {
            -moz-column-count: #{$i};
            -webkit-column-count: #{$i};
            column-count: #{$i};
        }
    }
}

@media (min-width: 768px)  {
    [class^="col-multi-md"], [class*=" col-multi-md"]{
       display:block!important;
    }
    @for $i from 2 through 6{
        .col-multi-md-#{$i} {
            -moz-column-count: #{$i};
            -webkit-column-count: #{$i};
            column-count: #{$i};
        }
    }
}

@media (min-width: 992px) {
    [class^="col-multi-lg"], [class*=" col-multi-lg"]{
       display:block!important;
    }
    @for $i from 2 through 6{
        .col-multi-lg-#{$i} {
            -moz-column-count: #{$i};
            -webkit-column-count: #{$i};
            column-count: #{$i};
        }
    }
}

@media (min-width: 1200px)  {
    [class^="col-multi-xl"], [class*=" col-multi-xl"]{
       display:block!important;
    }
    @for $i from 2 through 6{
        .col-multi-lg-#{$i} {
            -moz-column-count: #{$i};
            -webkit-column-count: #{$i};
            column-count: #{$i};
        }
    }
}

@media (min-width: 1400px)  {
    [class^="col-multi-xxl"], [class*=" col-multi-xxl"]{
       display:block!important;
    }
    @for $i from 2 through 6{
        .col-multi-lg-#{$i} {
            -moz-column-count: #{$i};
            -webkit-column-count: #{$i};
            column-count: #{$i};
        }
    }
}


@media (min-width: 1600px) {
    [class^="col-multi-xxxl"], [class*=" col-multi-xxxl"]{
       display:block!important;
    }
    @for $i from 2 through 6{
        .col-multi-lg-#{$i} {
            -moz-column-count: #{$i};
            -webkit-column-count: #{$i};
            column-count: #{$i};
        }
    }
}


.position-absolute-fill{
	@include absolute-fill();
}




.text-truncate-2{
	@include ellipsis(2);
}
.text-truncate-3{
	@include ellipsis(3);
}
.text-truncate-4{
	@include ellipsis(4);
}
.text-truncate-5{
	@include ellipsis(5);
}







/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-25 {
        width: 25% !important;
    }

    .h-sm-100 {
        height: 100% !important;
    }

    .h-sm-75 {
        height: 75% !important;
    }

    .h-sm-50 {
        height: 50% !important;
    }

    .h-sm-25 {
        height: 25% !important;
    }
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .w-md-100 {
        width: 100% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }

    .h-md-100 {
        height: 100% !important;
    }

    .h-md-75 {
        height: 75% !important;
    }

    .h-md-50 {
        height: 50% !important;
    }

    .h-md-25 {
        height: 25% !important;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }

    .h-lg-100 {
        height: 100% !important;
    }

    .h-lg-75 {
        height: 75% !important;
    }

    .h-lg-50 {
        height: 50% !important;
    }

    .h-lg-25 {
        height: 25% !important;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .w-xl-100 {
        width: 100% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-25 {
        width: 25% !important;
    }

    .h-xl-100 {
        height: 100% !important;
    }

    .h-xl-75 {
        height: 75% !important;
    }

    .h-xl-50 {
        height: 50% !important;
    }

    .h-xl-25 {
        height: 25% !important;
    }
}


.img-fluid-fit{
    @media (min-width: 1900px) {

    }
}

.ls-0{
    letter-spacing: 0px;
}
.ls-1{
    letter-spacing: 1px;
}
.ls-2{
    letter-spacing: 2px;
}
.ls-3{
    letter-spacing: 3px;
}
.ls-4{
    letter-spacing: 4px;
}
.ls-5{
    letter-spacing: 5px;
}
.ls-n1{
    letter-spacing: -1px;
}
.ls-n2{
    letter-spacing: -2px;
}
.ls-n3{
    letter-spacing: -3px;
}
.ls-n4{
    letter-spacing: -4px;
}
.ls-n5{
    letter-spacing: -5px;
}





.cursor {
  &-hand {
    cursor: pointer;
  }
  &-default {
    cursor: default;
  }
  &-help {
    cursor: help;
  }
  &-loading {
    cursor: wait;
  }
  &-move {
    cursor: move;
  }
  &-text {
    cursor: text;
  }
  &-cut {
    cursor: crosshair;
  }
  &-grab {
    cursor: grab;
  }
}




.object-position-top-left {
  @include object-position('top-left');
}

.object-position-top-center {
  @include object-position('top-center');
}

.object-position-top-right {
  @include object-position('top-right');
}

.object-position-bottom-left {
  @include object-position('bottom-left');
}

.object-position-bottom-center {
  @include object-position('bottom-center');
}

.object-position-bottom-right {
  @include object-position('bottom-right');
}

.object-position-center-left {
  @include object-position('center-left');
}

.object-position-center {
  @include object-position('center');
}

.object-position-center-right {
  @include object-position('center-right');
}


// clicktable target widths must be min. 24px;
.nav-link{
    min-width:24px;
}

.h-inherit{
    height:inherit;
}
.min-h-inherit{
    min-height:inherit;
}

.aligncenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}