header#header {
    //min-height:$header-height;
    background-color: var(--header-bg);
    z-index: var(--header-z-index);
    @include transition(height 0.3s ease-out,
        min-height 0.3s ease-out,
        background-color 0.3s ease-out,
        left 0.3s ease-out,
        right 0.3s ease-out,
        top 0.3s ease-out,
        background-color 0.3s ease-out);
    /*border-style: var(--header-border-style);
    border-color: var(--header-border-color);
    border-width: var(--header-border-width);*/

    &:after {
        content: "";
        display: var(--header-dropshadow);
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        bottom: 0;
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.15);
        @include transition(opacity 0.3s ease-out);
    }

    &.affix:after {
        opacity: 1;
    }

    &.affix.fixed-top,
    &.affix.fixed-bottom-start {
        .navbar-top{
            background-color: var(--header-navbar-bg-affix);
        }
        .navbar-brand {
            svg.logo,
            .logo-svg {
                //@include svgColor(var(--header-navbar-logo-color-affix));
            }

            &.has-logo-affix{
                .logo:not(.logo-affix),
                .logo-svg:not(.logo-affix){
                    display:none;
                }
                .logo-affix {
                    display:block;
                }
            }
        }
    }

    &.affix {
            position: fixed;
            width: 100%;
            background-color: var(--header-bg-affix);
            &.fixed-top{
                top:0;
                bottom:auto;
                min-height: var(--header-height-affix);
            }
            &.fixed-bottom{
                top:auto;
                bottom:0;
                min-height: var(--header-height);
            }
            &.fixed-top,
            &.fixed-bottom-start{

                .navbar-main {
                    padding: var(--header-navbar-padding-affix);
                    height: var(--header-navbar-height-affix);
                    @include transition(height 0.3s ease-out);
                }

                .navbar-top {
                    height: var(--header-navbar-height-affix);
                    min-height: var(--header-navbar-height-affix);
                    @include transition(height 0.3s ease-out);
                }

                .navbar-brand {
                    height: var(--header-navbar-height-affix);
                    padding: var(--header-navbar-logo-padding-affix);
                }

                .navbar-container {
                    height: var(--header-navbar-nav-height-affix);
                    min-height: var(--header-navbar-nav-height-affix);
                    @include transition(height 0.3s ease-out);
                }

                .header-tools {
                    height: var(--header-tools-height-affix);
                }
            }
            .navbar-brand {
                svg.logo,
                .logo-svg,
                .logo,
                .logo-affix {
                    max-height: var(--header-height-affix);
                }

            }
        }

    &.fixed-bottom-start{
        &.affix{
            min-height: var(--header-height-affix);
        }
        &:not(.affix){
            top:calc(100vh - var(--header-height));
        }
    }

    &.fixed-bottom-start:not(.affix){
        position:absolute;
        left:0;
        right:0;
    }

    &.has-stick {
        &:after {
            opacity: 0;
        }
    }

    .navbar-main {
        padding: var(--header-navbar-padding);
        height: var(--header-navbar-height);
        @include transition(height 0.3s ease-out);
    }

    .navbar-top {
        position: static;
        height: var(--header-navbar-height);
        background-color: var(--header-navbar-bg);
        display: flex;
        align-items: var(--header-navbar-align-vr);
    }

    .navbar-brand {
        height: 100%;
        display: flex;
        align-items: var(--header-navbar-logo-align-hr);
        justify-content: var(--header-navbar-logo-align-vr);
        flex-direction: column;
        margin: 0;
        padding: var(--header-navbar-logo-padding);
        z-index: 1;
        @include transition(height 0.3s ease-out, padding 0.3s ease-out);

        svg.logo,
        .logo-svg {
            display: flex;
            align-items: center;
            height: 100%;
            min-height: 100%;
            background-size: contain;
            background-position: center center;
            //@include svgColor(var(--header-navbar-logo-color));
        }

        .logo {
            display: block;
            height: auto;
            min-height: 100%;
            max-height: var(--header-height);
            width: auto;
            @include transition(max-height 0.3s ease-out, opacity 0.3s ease-out);
            object-fit: contain;    /* taşarsa kırpma yok */
        }

        .logo-affix,
        .logo-mobile {
            display:none;
            
        }
        svg.logo,
        .logo-svg,
        .logo,
        .logo-affix {
            max-height: var(--header-height);
        }
    }

    
    .navbar-brand.has-logo-mobile[class*="logo-mobile-"]{
        .logo:not(.logo-mobile),
        .logo-svg:not(.logo-mobile){
            display: none !important;
        }
        .logo-mobile {
            display: block !important;
        }   
    }
    @media (min-width: 576px) {
        .navbar-brand.has-logo-mobile.logo-mobile-sm{
            .logo:not(.logo-mobile),
            .logo-svg:not(.logo-mobile){
                display: block !important;
            }
            .logo-mobile {
                display: none !important;
            }
        }
    }
    @media (min-width: 768px) {
        .navbar-brand.has-logo-mobile.logo-mobile-md{
            .logo:not(.logo-mobile),
            .logo-svg:not(.logo-mobile){
                display: block !important;
            }
            .logo-mobile {
                display: none !important;
            }
        }
    }
    @media (min-width: 992px) {
        .navbar-brand.has-logo-mobile.logo-mobile-lg{
            .logo:not(.logo-mobile),
            .logo-svg:not(.logo-mobile){
                display: block !important;
            }
            .logo-mobile {
                display: none !important;
            }
        }
    }
    @media (min-width: 1200px) {
        .navbar-brand.has-logo-mobile.logo-mobile-xl{
            .logo:not(.logo-mobile),
            .logo-svg:not(.logo-mobile) {
                display: block !important;
            }
            .logo-mobile {
                display: none !important;
            }
        }
    }
    @media (min-width: 1400px) {
        .navbar-brand.has-logo-mobile.logo-mobile-xxl{
            .logo:not(.logo-mobile),
            .logo-svg:not(.logo-mobile) {
                display: block !important;
            }
            .logo-mobile {
                display: none !important;
            }
        }
    }
    @media (min-width: 1600px) {
        .navbar-brand.has-logo-mobile.logo-mobile-xxxl{
            .logo:not(.logo-mobile),
            .logo-svg:not(.logo-mobile) {
                display: block !important;
            }
            .logo-mobile {
                display: none !important;
            }
        }
    }

    .search {
        flex: 1;
        max-width: 1000px;
        margin-left: 40px;
        .form-control {
            border-color: var(--bs-primary);
        }
    }

    .header-tools {
        height: var(--header-tools-height);

        >.nav {
            height: 100%;

            //>li {
            >.nav-item {
                display: flex;
                align-items: center;
                vertical-align: middle;
                height: 100%;

                > a:not(.btn):not(.nav-toggler-custom) {
                    position: relative;
                    font-family: var(--header-link-font);
                    font-size: var(--header-link-font-size);
                    font-weight: var(--header-link-font-weight);
                    color: var(--header-link-color);
                    line-height: 100%;
                    display: flex;
                    @include transition(font-size 0.3s ease-out, opacity 0.3s ease-out);

                    &:hover {
                        color: var(--header-link-color-hover);

                        >i {
                            color: var(--header-icon-color-hover);
                        }
                    }

                    >i {
                        vertical-align: middle;
                        display: flex;
                        color: var(--header-icon-color);
                        font-size: var(--header-icon-font-size);

                        &:before {
                            vertical-align: bottom;
                        }
                    }
                }

                //> a >.btn,
                .btn {
                    font-family: var(--header-btn-font);
                    font-size: var(--header-btn-font-size);
                    font-weight: var(--header-btn-font-weight);
                }

                &.show {

                    &:after,
                    &:before {
                        top: 100%;
                        //left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        z-index: 1001;
                    }

                    &:after {
                        border-color: rgba(255, 255, 255, 0);
                        //border-top-color: var(--header-bg);
                        border-width: 10px;
                        margin-left: 2px;
                    }

                    &:before {
                        border-color: rgba(221, 221, 221, 0);
                        border-top-color: #ddd;
                        border-width: 11px;
                        margin-left: 1px;
                    }
                }

                &.dropdown {
                    &.dropdown-notifications {
                        .dropdown-menu {}
                    }
                }

                &.nav-language:not(.dropdown) {
                    font-family: var(--header-language-font);
                    color: var(--header-language-color);
                    font-size: var(--header-language-font-size);
                    font-weight: var(--header-language-font-weight);
                    >ul {
                        margin: 0;
                        padding: 0;
                        padding: 3px;

                        >li {
                            position: relative;
                            vertical-align: middle;
                            padding: 3px 3px;

                            >a {
                                display: block;
                                font-family: inherit;//var(--header-language-font);
                                color: inherit;//var(--header-language-color);
                                font-size: inherit;//var(--header-language-font-size);
                                font-weight: inherit;//var(--header-language-font-weight);
                                vertical-align: middle;
                                @include transition(color, 0.3s, ease-out);
                                &:hover {
                                    color: var(--header-language-color-hover);
                                }
                                &.active{
                                    color: var(--header-language-color-active);
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        height: 1px;
                                        background-color: var(--bs-primary);
                                    }
                                }
                            }

                            &.active {
                                a {
                                    opacity: 1;
                                    color: var(--header-language-color-active);
                                }

                                &:after {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    height: 1px;
                                    background-color: var(--bs-primary);
                                }
                            }
                        }
                    }
                }

                &.nav-language.dropdown {
                    &:before {
                        margin-top: 1px;
                    }

                    &:after {
                        //margin-top:7px;
                    }

                    >a {
                        display: inline-block;
                        font-family: var(--header-language-font);
                        color: var(--header-language-color-active);
                        font-size: var(--header-language-font-size);
                        font-weight: var(--header-language-font-weight);
                        vertical-align: middle;
                    }

                    >.dropdown-menu {
                        position: absolute;
                        min-width: 100px;
                        margin-left: 6px !important;
                        margin-top: 0;
                        left: auto;
                        right: 0px;
                        width: auto;
                        max-width: auto;
                        top: 100%;
                        //margin-top:10px;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                        border-top: none;

                        >li {
                            padding-left: 0;
                            padding-right: 0;

                            a {
                                font-size: 12px;
                                font-weight: 500;
                                color: var(--header-language-color);
                                padding-left: 20px;
                                display: block;
                                padding-right: 20px;

                                &:hover {
                                    color: var(--header-language-color-hover);
                                }
                            }
                        }
                    }
                }

                .list-social {
                    >li {
                        a {
                            display: inline-block;
                            color: var(--header-social-color);
                            font-size: var(--header-social-font-size);
                            @include transition(all 0.3s ease-out);

                            &:hover {
                                color: var(--header-social-color-hover);
                            }
                        }

                        &:not(:first-child) {
                            margin-left: var(--header-social-gap);
                        }
                    }
                }

                &[data-type="account"] {
                    >a {
                        img {
                            border-radius: 50%;
                            max-width: 40px;
                            max-height: 40px;
                        }
                    }
                }

                &.nav-toggler{
                    a{
                        transform:rotateY(180deg);
                    }
                }

                &.nav-search-field{
                    width:320px;
                    justify-content:end;
                }
            }

            &.active {
                >li {
                    >a:not(.show) {
                        opacity: 0.2;
                    }
                }
            }
        }
        &.header-tools-start{
            //>.nav > li{
            >.nav > .nav-item{
                margin-left: var(--header-tools-item-gap);
                &:first-child{
                    margin-left:0px;
                }
            }
        }
        &.header-tools-end{
            //>.nav > li{
            >.nav > .nav-item{
                margin-right: var(--header-tools-item-gap);
                &:last-child{
                    margin-right:0px;
                }
            }
        }
        /*&.header-tools-start{
            >.nav > li:not(:last-child){
                margin-right: var(--header-tools-item-gap);
            }
        }
        &.header-tools-end{
            >.nav > li:not(:first-child){
                margin-left: var(--header-tools-item-gap);
            }
        }*/
    }

    .navbar-container {
        position: relative;
        width: var(--header-navbar-nav-width);
        display: flex;
        margin: var(--header-navbar-nav-margin);
        justify-content: var(--header-navbar-nav-align-hr);
        align-items: var(--header-navbar-nav-align-vr);
        height: var(--header-navbar-nav-height);

        @include transition(height .3s ease-out, left .3s ease-out);

        .navbar-nav-main {
            font-size: var(--header-navbar-nav-font-size);
            font-family: var(--header-navbar-nav-font);
            font-weight: var(--header-navbar-nav-font-weight);
            padding-top: 0px;
            padding-bottom: 0px;
            width: auto;
            height: 100%;
            align-content: center;

            >.nav-item {
                margin: 0px; // 15px;
                height: inherit;
                position: relative;

                >a {
                    position: relative;
                    color: var(--header-navbar-nav-font-color);
                    padding: var(--header-navbar-nav-item-padding);
                    height: inherit;
                    display: flex;
                    align-items: center;
                    text-transform: var(--header-navbar-nav-font-text-transform);
                    letter-spacing: var(--header-navbar-nav-font-letter-spacing);
                    background-color: var(--header-navbar-nav-bg-color);

                    &:hover {
                        color: var(--header-navbar-nav-font-color-hover);
                        background-color: var(--header-navbar-nav-bg-color-hover);
                    }

                    .sub-arrow,
                    .caret {
                        margin: 0;
                        border: none;
                        width: auto;
                        display: flex;

                        &:after {
                            content: "\f107";
                            font-family: var(--icon-font);
                            vertical-align: top;
                            line-height: 0;
                            font-weight: normal;
                            color: rgba(var(--header-navbar-nav-font-color-rgb), 0.6);
                            border: none;
                            margin-left: 6px;
                            background-color: transparent;
                            font-size: 14px;
                        }
                    }

                    &:after {
                        border: none;
                    }

                    +.dropdown-menu:not(.mega-menu) {
                        list-style: none;
                        position: absolute !important;
                        font-family: var(--header-navbar-nav-dropdown-font);
                        margin: var(--header-navbar-nav-dropdown-margin);
                        background-color: var(--header-navbar-nav-dropdown-bg);
                        border: var(--header-navbar-nav-dropdown-border);
                        border-radius: var(--header-navbar-nav-dropdown-border-radius);
                        min-width: var(--header-navbar-nav-dropdown-width)  !important;
                        padding: var(--header-navbar-nav-dropdown-padding)  !important;
                        top: var(--header-navbar-nav-dropdown-top)  !important;
                        left: var(--header-navbar-nav-dropdown-align);
                        li {
                            >a {
                                display: flex;
                                align-items: center;
                                font-size: var(--header-navbar-nav-dropdown-font-size);
                                color: var(--header-navbar-nav-dropdown-font-color);
                                font-weight: var(--header-navbar-nav-dropdown-font-weight);
                                padding: var(--header-navbar-nav-dropdown-item-padding);
                                background-color: var(--header-navbar-nav-dropdown-item-bg);
                                border: var(--header-navbar-nav-dropdown-item-border);
                                text-transform: var(--header-navbar-nav-dropdown-font-text-transform);
                                border-radius: var(--header-navbar-nav-dropdown-item-border-radius);
                                @include transition(color 0.3s ease-out,
                                    background-color 0.3s ease-out);

                                &:hover {
                                    color: var(--header-navbar-nav-dropdown-font-color-hover);
                                    font-weight: var(--header-navbar-nav-dropdown-font-weight-hover);
                                    background-color: var(--header-navbar-nav-dropdown-item-bg-hover);
                                }

                                span {
                                    flex: 1;
                                }

                                .sub-arrow {
                                    display: none;
                                    border: none;
                                }

                                &.has-submenu {
                                    &:after {
                                        content: "\f105";
                                        font-family: var(--icon-font);
                                        border: none;
                                        font-size: 12px;
                                    }
                                }
                            }

                            &.active {
                                >a {
                                    color: var(--header-navbar-nav-dropdown-font-color-hover);
                                    font-weight: var(--header-navbar-nav-dropdown-font-weight-hover);
                                }
                            }

                            .dropdown-menu {
                                position: absolute !important;
                                margin: var(--header-navbar-nav-dropdown-margin);
                                background-color: var(--header-navbar-nav-dropdown-bg);
                                border: var(--header-navbar-nav-dropdown-border);
                                border-radius: var(--header-navbar-nav-dropdown-border-radius);
                                min-width: var(--header-navbar-nav-dropdown-width)  !important;
                                padding: var(--header-navbar-nav-dropdown-padding)  !important;
                                top: var(--header-navbar-nav-dropdown-top)  !important;
                                left: var(--header-navbar-nav-dropdown-align);

                                li {
                                    >a {
                                        font-size: var(--header-navbar-nav-dropdown-font-size);
                                        color: var(--header-navbar-nav-dropdown-font-color);
                                        font-weight: var(--header-navbar-nav-dropdown-font-weight);
                                        padding: var(--header-navbar-nav-dropdown-item-padding);
                                        background-color: var(--header-navbar-nav-dropdown-item-bg);
                                        border: var(--header-navbar-nav-dropdown-item-border);
                                        text-transform: var(--header-navbar-nav-dropdown-font-text-transform);
                                        border-radius: var(--header-navbar-nav-dropdown-item-border-radius);
                                        @include transition(color 0.3s ease-out,
                                            background-color 0.3s ease-out);

                                        &:hover {
                                            color: var(--header-navbar-nav-dropdown-font-color-hover);
                                            font-weight: var(--header-navbar-nav-dropdown-font-weight-hover);
                                            background-color: var(--header-navbar-nav-dropdown-item-bg-hover);
                                        }

                                        .sub-arrow {
                                            display: none;
                                            border: none;
                                        }
                                    }

                                    &.active {
                                        >a {
                                            color: var(--header-navbar-nav-dropdown-font-color-hover);
                                            font-weight: var(--header-navbar-nav-dropdown-font-weight-hover);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.dropdown-toggle {
                        &:after {
                            //content: '\f107';
                            font-family: var(--icon-font);
                            vertical-align: top;
                            line-height: 0;
                            font-weight: normal;
                            color: rgba(var(--header-navbar-nav-font-color-rgb), 0.6);
                            border: none;
                            margin-left: 10px;
                            background-color: transparent;
                            border: none;
                            margin-left: 0px;
                        }
                    }
                }

                &.active {
                    >a {
                        color: var(--header-navbar-nav-font-color-active);
                        position: relative;
                        font-weight: var(--header-navbar-nav-font-weight-active);
                    }
                }
            }
        }
    }

    .navbar-toggler {
        display: none;
        padding: 0px;
        border: none;
        font-size: 24px;
        color: var(--header-navbar-toggler-color);
        height: 100%;
        align-items: center;
        @include transition(color 0.3s ease-out);

        >.icon {
            display: flex;
        }

        &:hover {
            color: var(--header-navbar-toggler-color-hover);
        }

        &:focus,
        &:active {
            outline: 0;
        }

        .notification-count {
            display: none;
        }
    }

    .collapse-search {

        .form-search,
        .card {
            border-radius: 12px;

            input[name="s"] {
                border: 1px solid #ccc;
            }
        }
    }
}

@media (min-width: 1400px) {
}

@media (min-width: 1200px) and (max-width: 1399px) {
    //xl
    header#header {
        &.affix {
            position: fixed;
            width: 100%;
        }
    }
}

/*@media (max-width: 1199px) {
    header#header {
        .navbar-brand{
            max-width:0px;
        }
    }
}*/

@media (min-width: 992px) and (max-width: 1199px) {
    //lg
    header#header {
        &.affix {
            position: fixed;
            width: 100%;
        }
    }
}

//affix
@media (min-width: 992px) {
    header#header {
        .navbar-container {
            position: static;

            .navbar-nav-main {
                >.nav-item {
                    >a.highlighted {
                        color: var(--header-navbar-nav-font-color-hover);
                        background-color: var(--header-navbar-nav-bg-color-hover);
                        &:before {
                                display: var(--header-navbar-nav-dropdown-root-arrow);
                                top: var(--header-navbar-nav-dropdown-root-arrow-top);
                                left: var(--header-navbar-nav-dropdown-root-arrow-left) !important;
                                transform: var(--header-navbar-nav-dropdown-root-arrow-transform) !important;
                                border: solid transparent;
                                content: " ";
                                height: 0;
                                width: 0;
                                position: absolute;
                                pointer-events: none;
                                z-index: 1;
                                border-style: solid;
                                border-width: 0 15px 15px 15px;
                                border-color: transparent transparent #007bff transparent;
                                border-bottom-color: var(--header-navbar-nav-dropdown-bg);
                        }
                    }

                    &.has-mega-menu {
                        position: static;

                        >.mega-menu {
                            left: 0;
                            right: 0;
                            border-radius: 0px;
                            border: none;
                            max-width: none !important;
                            width: 100% !important;
                            margin: var(--header-navbar-nav-dropdown-margin)  !important;
                        }
                    }
                }
            }
        }

        .header-tools {
            >.nav {
                flex-direction: row;
            }
        }
    }

    .header-hide {
        header#header {
            top: calc(0px - var(--header-height))!important;
        }
    }
}

//mobile header
@media (max-width: 991px) {
    header#header {

        /*.navbar-brand{

            &.has-logo-mobile{
                .logo:not(.logo-mobile),
                .logo-svg:not(.logo-mobile){
                    display:none!important;
                }
                .logo-mobile {
                    display:block!important;
                }
            }
        }*/

        .navbar-container {
            height: 100%;
            min-height: 100%;
            width: auto;
            padding: var(--offcanvas-padding);
            flex: 0 1 100%;

            .navbar-nav-main {
                font-family: var(--offcanvas-item-font);
                font-weight: var(--offcanvas-item-font-weight);
                width: 100%;
                height: auto;
                align-self: flex-start;

                >li.nav-item {
                    height: auto;
                    width: 100%;

                    >a {
                        color: var(--offcanvas-item-color);
                        padding: var(--offcanvas-item-padding);
                        height: auto;
                        position: relative;

                        &:hover {
                            color: var(--offcanvas-item-color-hover);
                        }

                        +.dropdown-menu {
                            width: 100%;
                            background-color: var(--offcanvas-dropdown-bg);
                            border-radius: 0px;
                            width: 100% !important;
                            border: none;
                            padding: var(--offcanvas-dropdown-padding)  !important;

                            li {
                                >a {
                                    font-size: var(--offcanvas-dropdown-item-font-size);
                                    color: var(--offcanvas-dropdown-item-font-color);
                                    font-weight: var(--offcanvas-dropdown-item-font-weight);
                                    padding: var(--offcanvas-dropdown-item-padding);
                                    background-color: var(--offcanvas-dropdown-item-bg);
                                    border: var(--offcanvas-dropdown-item-border);
                                    border-radius: var(--header-navbar-nav-dropdown-item-border-radius);
                                    @include transition(color 0.3s ease-out, background-color 0.3s ease-out);
                                    &:hover {
                                        color: var(--offcanvas-dropdown-item-font-color-hover);
                                        font-weight: var(--offcanvas-dropdown-item-font-weight-hover);
                                        background-color: var(--offcanvas-dropdown-item-bg-hover);
                                    }
                                }
                            }
                        }

                        &.dropdown-toggle {
                            &:after {
                                color: var(--primary-color);
                                position: absolute;
                                right: 25px;
                            }
                        }
                    }

                    &.active {
                        >a {
                            color: var(--header-navbar-nav-font-color-active);
                            position: relative;
                            font-weight: var(--header-navbar-nav-font-weight-active);
                        }
                    }
                }
            }
        }

        .header-tools {
            >.nav{
                //>li{
                >.nav-item{
                    &.nav-search-field{
                        width:auto;
                    }
                }
            }
        }

        .navbar-toggler {
            display: flex;
        }

        &.affix{
            .navbar-brand{
                &.has-logo-mobile{
                    .logo:not(.logo-mobile),
                    .logo-svg:not(.logo-mobile){
                        display:none!important;
                    }
                    .logo-mobile {
                        display:block!important;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    // md
    header#header {
        .header-tools {
            >.nav {
                flex-direction: row;
            }
        }

        &.affix {
            position: fixed;
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    header#header {
        .navbar-toggler {
            .notification-count {
                display: flex !important;
                left: -60%;
                right: auto;
                bottom: 5px;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    // sm
    header#header {
        .header-tools {
            >.nav {
                flex-direction: row;
            }
        }
        &.affix {
            position: fixed;
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
    // xs
    header#header {
        &.affix {
            position: fixed;
            width: 100%;
        }
    }
}

.notification-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -10px;
    bottom: -10px;
    border: 2px solid #fff;
    min-width: 22px;
    min-height: 22px;
    text-align: center;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: $header-font;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--notification-count-bg-color);
    color: var(--notification-count-color);
    line-height: 100%;
    padding-bottom: 1px;
    box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.05);
    z-index: 1;
}



.nav-toggler-custom {
    $width: 40px;
    $weight: 2px;
    $top: -9px;
    $bottom: -9px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $width;
    height: $width;
    background-color: transparent;

    span {
        background-color: var(--header-navbar-toggler-color);
        position: absolute;
        left: 0px;
        right: 9px;
        height: $weight;
        z-index: 0;
        border-radius: 4px;
        @include transition(all .3s ease-out);

        &:before {
            content: "";
            bottom: $bottom;
            background-color: var(--header-navbar-toggler-color);
            height: $weight;
            left: 16px;
            right: 0px;
            position: absolute;
            border-radius: 4px;
            @include transition(all .3s ease-out);
        }

        &:after {
            content: "";
            top: $top;
            background-color: var(--header-navbar-toggler-color);
            height: $weight;
            left: 8px;
            right: 0px;
            position: absolute;
            border-radius: 4px;
            @include transition(all .3s ease-out);
        }
    }

    &:hover {
        span {
            background-color: var(--header-navbar-toggler-color-hover);

            &:before {
                background-color: var(--header-navbar-toggler-color-hover);
            }

            &:after {
                background-color: var(--header-navbar-toggler-color-hover);
            }
        }
    }

    &.has-notification {
        &:before {
            content: "";
            position: absolute;
            top: -3px;
            left: -3px;
            background-color: var(--notification-count-bg-color);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            z-index: 1;
            @include transition(all .3s ease-out);
        }

        &:hover {
            &:before {
                //transform:scale(1.4);
            }
        }
    }

    &:hover {
        span {
            &:before {
                left: 8px;
            }

            &:after {
                left: 16px;
            }
        }
    }
}

@mixin headerTheme($color:null, $colorActive:null, $bgColor:null, $logo:null, $colorAffix:null, $colorAffixActive:null, $bgColorAffix:null, $logoAffix:null, $z_index:null, $btnAffixReverse:false) {
    header#header {
        @if $z_index !=null {
            z-index: $z_index;
        }

        @if $bgColor !=null {
            background-color: $bgColor;
        }

        &:not(.affix) {

            .navbar-brand {
                .logo-svg {
                    @if $logo !=null {
                        @include svgColor($logo);
                    }
                }
            }

            @if $color !=null {

                .header-tools {
                    >.nav {
                        >.nav-item {
                            div:not(.navbar-container) {
                                a:not(.btn) {
                                    color: $color !important;

                                    &:hover {
                                        color: $color !important;

                                        >i {
                                            color: $color !important;
                                        }
                                    }

                                    >i {
                                        color: $color !important;
                                    }
                                }
                            }

                            .nav-toggler-custom {
                                span {
                                    background-color: $color;

                                    &:before {
                                        background-color: $color;
                                    }

                                    &:after {
                                        background-color: $color;
                                    }
                                }
                            }
                        }
                    }
                }

                .navbar-container {
                    .navbar-nav-main {
                        >.nav-item {
                            >a {
                                color: $color;

                                &:hover {
                                    color: $color;
                                }

                                .sub-arrow,
                                .caret {
                                    &:after {
                                        color: rgba($color, .6);
                                    }
                                }

                                &.dropdown-toggle {
                                    &:after {
                                        color: rgba($color, .6);
                                    }
                                }
                            }

                            &.active {
                                >a {
                                    color: $color;
                                }
                            }
                        }
                    }
                }

            }
        }

        &.affix {
            @if $bgColorAffix !=null {
                background-color: $bgColorAffix;
            }

            .navbar-brand {
                .logo-svg {
                    @if $logoAffix !=null {
                        @include svgColor($logoAffix);
                    }
                }
            }

            @if $colorAffix !=null {

                .header-tools {
                    >.nav {
                        >.nav-item {
                            div:not(.navbar-container) {
                                a:not(.btn) {
                                    color: $colorAffix !important;

                                    &:hover {
                                        color: $colorAffix !important;

                                        >i {
                                            color: $colorAffix !important;
                                        }
                                    }

                                    >i {
                                        color: $colorAffix !important;
                                    }
                                }

                                @if $bgColor !=$bgColorAffix and $btnAffixReverse==true {
                                    a.btn {
                                        @extend .btn-reverse;
                                    }
                                }

                                @if $bgColor !=$bgColorAffix and $btnAffixReverse !=true {
                                    a.btn {
                                        &[class*=" btn-outline-"] {
                                            @include button-outline-variant($colorAffix);
                                        }

                                        &:not([class*=" btn-outline-"]) {
                                            @include button-variant($colorAffix, $colorAffix);
                                        }
                                    }
                                }
                            }

                            .nav-toggler-custom {
                                span {
                                    background-color: $colorAffix;

                                    &:before {
                                        background-color: $colorAffix;
                                    }

                                    &:after {
                                        background-color: $colorAffix;
                                    }
                                }
                            }
                        }
                    }
                }

                .navbar-container {
                    .navbar-nav-main {
                        >.nav-item {
                            >a {
                                color: $colorAffix;

                                &:hover {
                                    color: $colorAffix;
                                }

                                .sub-arrow,
                                .caret {
                                    &:after {
                                        color: rgba($colorAffix, .6);
                                    }
                                }

                                &.dropdown-toggle {
                                    &:after {
                                        color: rgba($colorAffix, .6);
                                    }
                                }
                            }

                            &.active {
                                >a {
                                    color: $colorAffix;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

/*@import 'header-themes';*/

body {
    &.menu-open {
        .nav-toggler-custom {
            span {
                background-color: rgba(var(--header-navbar-toggler-color-rgb), 0) !important;

                &:before {
                    bottom: 0;
                    left: 0;
                    transform: rotate(45deg);
                    background-color: var(--primary-color) !important;
                }

                &:after {
                    top: 0;
                    left: 0;
                    transform: rotate(-45deg);
                    background-color: var(--primary-color) !important;
                }
            }

            &:hover {
                span {
                    &:before {
                        left: 8px;
                        right: 8px;
                    }

                    &:after {
                        left: 8px;
                        right: 8px;
                    }
                }
            }
        }

        &.menu-show-header {
            @include headerTheme(#fff, #fff, transparent, #fff, #fff, #fff, transparent, #fff, 1046);

            &.loading:not(.loaded) {
                &:before {
                    z-index: 1047;
                }

                &:after {
                    z-index: 1048;
                }
            }

            &.header-hide {
                header#header {
                    top: 0px !important;
                }
            }

            header#header {
                &:after {
                    display: none;
                }
            }
        }
    }
}

.dropdown {
    &.dropdown-notifications {
        &[data-type='account'] {
            >a {
                img {
                    border: 2px solid #fff;
                }
            }
        }
    }
}

.nav-search {
    .closed {
        display: flex !important;
    }

    .opened {
        display: none !important;
    }
}

.menu-open {
    .nav-search {
        .closed {
            display: none !important;
            ;
        }

        .opened {
            display: flex !important;
        }
    }
}

.search-open {
    .nav-search {
        .closed {
            display: none !important;
        }

        .opened {
            display: flex !important;
        }
    }
}

.nav-equal {
    opacity: 0;
    @include transition(opacity .3s ease-out);

    +div {
        opacity: 0;
        @include transition(opacity .3s ease-out);
    }

    &.nav-equalized,
    &.nav-equalized+div,
    &.nav-equal-disabled,
    &.nav-equal-disabled+div {
        opacity: 1 !important;
    }
}

header#header {

    .logo,
    .logo-svg {
        //filter: drop-shadow(0px 2px 20px rgba(#000,.3));
    }

    .navbar-nav-main {
        >li {
            &.active {
                >a {
                    >span:not(.sub-arrow) {
                        position: relative;

                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -8px;
                            height: 2px;
                            background-color: var(--yellow);
                            border-radius: 3px;
                        }
                    }
                }
            }

            &:not(.active) {
                >a {
                    >span:not(.sub-arrow) {
                        position: relative;

                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -8px;
                            height: 2px;
                            background-color: #fff;
                            border-radius: 3px;
                            opacity: 0;
                            @include transition(opacity .3s ease-out);
                        }
                    }

                    &:hover {
                        >span:not(.sub-arrow) {
                            &:after {
                                opacity: .6;
                            }
                        }
                    }
                }
            }
        }
    }

    &.affix {
        .navbar-nav-main {
            >li {
                >a {
                    >span:not(.sub-arrow) {
                        position: relative;

                        &:after {
                            background-color: var(--yellow);
                        }
                    }
                }
            }
        }
    }
}