/*! purgecss start ignore */
html {
   scroll-behavior: auto;
   height: 100%;
   scroll-padding-top: var(--header-height-affix);
}
body {
    position: relative;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    overflow-x: hidden;
    font-family:var(--font-primary)!important;
    @include font-size(var(--base-font-size));
    @include rfs(var(--base-font-line-height), line-height);
    @include rfs(var(--base-letter-spacing), letter-spacing);
    font-weight: var(--base-font-weight);
    color: var(--base-font-color);
    background-color:var(--body-bg-color)!important;
    margin:0;
    left:0px;
    right:0px;
    padding-right:0px!important;
    &:before{
       content:"";
       background-color:rgba(var(--body-bg-backdrop-rgb), 0);
       @include transition(background-color .3s ease-out);
       position:fixed;
       top:0;//$header-navbar-height;
       z-index:3;
    }
    /*&.menu-dropdown-open,
    &.notifications-open,
    &.menu-open,
    &.search-open,
    &.dgwt-wcas-open{
        //overflow:hidden;
        &:before{
          background-color:rgba(var(--body-bg-backdrop-rgb), .7);
          bottom:0;
          left:0;
          right:0;
        }
    }
    &.affix{
       padding-top:var(--header-height-affix);
    }*/
    &.has-hero{
        padding-top:0px!important;
    }
    
    &.affix{
       padding-top:var(--header-height-affix);
    }

    &.menu-dropdown-open,
    &.notifications-open,
    &.menu-open,
    &.search-open,
    &.dgwt-wcas-open{
        //overflow:hidden;
        &:before{
          background-color:rgba(var(--body-bg-backdrop-rgb), .7);
          bottom:0;
          left:0;
          right:0;
        }
    }

    &.modal-open,
    &.offcanvas-open,
    &.showing-offcanvas{
        [class^="sticky-"], [class*=" sticky-"] {
            &.sticked{
                position: fixed !important;
                width: 100%; 
                max-width: inherit; 
                z-index: 1030 !important;
            }
        }
    }

    &.offcanvas-open{
        .nav-search-field{
            display:none!important;
        }
    }


    &.affixed{
        &.header-fixed-top{
            padding-top: var(--header-height);
        }
    }
    &.affix:not(.affixed){
        &.header-fixed-top{
            padding-top: var(--header-height-affix);
        }
    }
    &.header-fixed-bottom{
        padding-bottom:var(--header-height);
    }

    &.under-construction{
        &.affixed{
            &.header-fixed-top{
                padding-top: 0!important;
            }
        }
        &.affix:not(.affixed){
            &.header-fixed-top{
                 padding-top: 0!important;
            }
        }
        &.header-fixed-bottom{
            padding-bottom: 0!important;
        }
    }

}

/*
body:not(.under-construction){
    &.affixed{
        &.header-fixed-top{
            padding-top: var(--header-height);
        }
    }
    &.affix:not(.affixed){
        &.header-fixed-top{
             padding-top: var(--header-height-affix);
        }
    }
    &.header-fixed-bottom{
        padding-bottom:var(--header-height);
    }
}
*/

main#main {
    flex: 1 1 100%;
}

a:not(.text-underline){
  text-decoration:none;
  @include transition(.3s color ease-out, .3s background-color ease-out);
  &:hover,
  &:focus{
    text-decoration:none;
  }
}
a:not(.btn){
    color: var(--base-link-color, inherit);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}
   
p:empty{
    padding-top:1px;
}

picture{
    display:block;
    width:100%;
    height:100%;
}

/*! purgecss end ignore */