.navbar-sidebar {
    display: flex;
    flex-direction: column;
    li {
        display: block;
        a {
            display: flex;
            align-items: center;
            .caret {
                margin-left: auto;
                &:before {
                    font-family: var(--icon-font);
                }
            }
            +ul {
                display: flex;
                flex-direction: column;
                padding-left: 15px;
                &.collapsing {
	                display: block!important;
	                >li {
	                    display: block!important;
	                }
	            }
            }
        }
    }
}