.select2{
    .selection{
        .select2-selection{
            background-color:#fff;
        }
    }
}
.select2-results__option--selected {
    display: none;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection{
    border-color:$form-select-focus-border-color;
    border-width:$form-select-focus-width;
    box-shadow:$form-select-focus-box-shadow;
}