{#
  Title: Hero
  Description: Hero
  Category: saltblocks
  Icon: table-row-before
  Keywords: slider gallery image görsel video hero
  Mode: auto
  Align: 
  PostTypes: 
  SupportsAlign: left right center wide full
  SupportsAlignContent: true
  SupportsMode: true
  SupportsMultiple: true
  SupportsAnchor: true
  SupportsCustomClassName: true
  SupportsReusable: true
  SupportsFullHeight: true
  SupportsCustomClassName: true
#}
{% set block_main_field = "" %}
{% set block_extras = { "classes" : "position-relative", "container" : "z-1 position-relative" } %}
{% set block_required_js = [ "swiper" ] %}
{% extends "blocks/_block-container.twig" %}

{% block block_content %}

    {% if fields.show_breadcrumb or fields.page_title or fields.description %}

        {% if not block_meta.settings.column.active %}
        <div class="content justify-content-lg-start--justify-content-center--text-lg-start--text-center z-2">
        {% endif %}

            {% if fields.show_breadcrumb %}
                {{ breadcrumb|default(block_meta.data.breadcrumb)|replace({"{{class}}" : "justify-content-center justify-content-lg-start"}) }}
            {% endif %}
            {% if fields.page_title %}
                <h1 class="title">{{ is_preview?function("get_the_title", block_meta.data.post_id):post.title|default(block_meta.data.title) }}</h1>
            {% endif %}
            {% if fields.description %}
            <div class="description">
                {{ fields.description }}
            </div>
            {% endif %}

        {% if not block_meta.settings.column.active %}
        </div>
        {% endif %}

    {% endif %}
    
{% endblock %}

{% block block_content_outer %}
{% endblock %}