{% extends "base.twig" %}

{% set  page_settings = {
            full : true,
            classes : {
                body : "pb-5",
                main : "d-flex align-items-center",
                container : "",
                gap : "",
            },
            offcanvas : {
                individual : false,
                size : "md",
                width : 3,
                position : "start",
                template : ""
            },
            alert : {
                type : "danger",
                title : "",
                message : "",
                position : "bottom",
                fixed : false,
                class : "",
                html : ""
            },
            paging : {
                posts_per_page : 10,
                page : 1
            }
        }
%}


{% block hero %}
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="container-xxl">
        {{ post.content }}
    </div>
{% endblock %}


{% block after_main %}

{% endblock %}
