/*! purgecss start ignore */
.block-hero{
	overflow:hidden;
	.swiper-slide{
		&.overlay{
			 &:before{
				content:"";
				@include absolute-fill();
				z-index:1;
				@include transition(all .3s ease-out);
			}
		}
	}
}
/*! purgecss end ignore */