/*! purgecss start ignore */
.block-slider,
.block-slider-advanced{
	.container{
		min-height:inherit;
		>*{
			min-height:inherit;
		}
		.swiper{
			&:not(.swiper-vertical){
				min-height:inherit;
			}
			.swiper-wrapper{
				//min-height:inherit;
				.swiper-slide{
					//min-height: inherit;
				}
			}
			&:not(.swiper-vertical){
				.swiper-wrapper{
				    min-height:inherit;
				    .swiper-slide{
				    	min-height:inherit;
				    }
			    }
			}
		}
        .swiper-button-prev,
        .swiper-button-next{
            width:auto;
            height:auto;
            z-index: auto;
        }
	}
	.swiper-slide{
		.description{
			//line-height: 1;
		}
		.swiper-bg{
			.plyr{
				height:100%;
				.plyr__video-wrapper{
					height:100%;
				}
			}			
		}
		&.overlay{
			 &:before{
				content:"";
				@include absolute-fill();
				z-index:1;
				@include transition(all .3s ease-out);
			}
		}
	}
}


// Bootstrap Breakpoints
$breakpoints: (
  "xxxl": 1400px,
  "xxl": 1200px,
  "xl": 992px,
  "lg": 768px,
  "md": 576px,
  "sm": 480px,
  "xs": 0px
);

.swiper-slider:not(.swiper-slider-init) {
    .swiper-wrapper {
        display: flex;
        gap: var(--gap-xs, 0px); // Varsayılan gap
        .swiper-slide {
            flex: 0 0 calc(100% / var(--col-xs, 1)); // Varsayılan column hesaplama
        }  
    }
    @each $breakpoint, $size in $breakpoints {
        @media (max-width: #{$size}) {
            .swiper-wrapper {
                gap: var(--gap-#{$breakpoint}, 0px);
            }
            .swiper-slide {
                flex: 0 0 calc(100% / var(--col-#{$breakpoint}, 1));
            }
        }
    }
}
/*! purgecss end ignore */

.block-slider,
.block-slider-advanced {
    .swiper {
        height: 100%;
        width: 100%;
        display: flex;
        flex: auto;

        .swiper-wrapper {
            .swiper-slide {
                overflow: hidden;

                .content {
                    z-index: 1;

                    .title {
                    }

                    .description {
                    }

                    form {
                        .wpcf7-response-output {
                            font-size: 14px;
                            line-height: 1.4;
                        }

                        .form-label {
                            display: none;
                        }

                        .form-control {
                        }

                        .small {
                        }
                    }
                }

                &.swiper-slide-video {
                    .video-bg {
                        height: 100%;
                    }

                    .swiper-bg {

                        &.loaded {
                            background-color: transparent;
                        }
                    }

                    &.loaded {
                        .swiper-bg {
                            background-color: transparent;
                        }
                    }
                }

            }
        }

        &:not(.swiper-vertical):not(.jarallax-img) {
            height: auto !important;
        }

        &.jarallax-img {
            height: auto;
            pointer-events: auto !important;
        }
    }

}

.swiper-pagination{
    transition: .3s color ease-out, .3s background-color ease-out;
}