:root{
/*
    // Title Sizes
	@if variable-exists(title_sizes) {
	    @each $title in $title_sizes {
	        $size: map-get($title, size);
	        $font-size: map-get($title, font-size);
	        --title-#{$size}: #{$font-size};
	    }
	}
	@if variable-exists(title_mobile_sizes) {
	    @each $title in $title_mobile_sizes {
	        $size: map-get($title, size);
	        $font-size: map-get($title, font-size);
	        @media (max-width: 576px) {
		        --title-#{$size}: #{$font-size};
		    }
	    }
	}
	@if variable-exists(title_line_heights) {
	    @each $title in $title_line_heights {
	        $size: map-get($title, size);
	        $line-height: map-get($title, line-height);
		    --title-#{$size}-lh:#{$line-height};
	    }
	}
	@if variable-exists(title_mobile_line_heights) {
	    @each $title in $title_mobile_line_heights {
	        $size: map-get($title, size);
	        $line-height: map-get($title, line-height);
	        @media (max-width: 576px) {
		        --title-#{$size}-lh:#{$line-height};
		    }
	    }
	}

	// Text Sizes
	@if variable-exists(text_sizes) {
	    @each $text in $text_sizes {
	        $size: map-get($text, size);
	        $font-size: map-get($text, font-size);
	        --text-#{$size}:#{$font-size};
	    }
	}
	@if variable-exists(text_mobile_sizes) {
	    @each $text in $text_mobile_sizes {
	        $size: map-get($text, size);
	        $font-size: map-get($text, font-size);
	        @media (max-width: 576px) {
		        --text-#{$size}: #{$font-size};
		    }
	    }
	}
	@if variable-exists(text_line_heights) {
	    @each $text in $text_line_heights {
	        $size: map-get($text, size);
	        $line-height: map-get($text, line-height);
		    --text-#{$size}-lh:#{$line-height};
	    }
	}
	@if variable-exists(text_mobile_line_heights) {
	    @each $text in $text_mobile_line_heights {
	        $size: map-get($text, size);
	        $line-height: map-get($text, line-height);
	        @media (max-width: 576px) {
		        --text-#{$size}-lh:#{$line-height};
		    }
	    }
	}*/
}