<article {{ fn('wc_product_cat_class', ['tease-category card h-100'] ) }} itemscope="" itemtype="https://schema.org/Product" data-mh="tease-category">

    
    <div class="card-body p-0 overflow-hidden">
        {% do action('woocommerce_before_subcategory', category) %}
        {% do action('woocommerce_before_subcategory_title', category) %}
    </div>

 

            {#<div class="media-figure {% if not post.thumbnail %}placeholder{% endif %}">
                <a href="{{ post.link }}">
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail.src|resize(post_thumb_size[0], post_thumb_size[1]) }}" />
                    {% else %}
                        <span class="thumb-placeholder"><i class="icon-camera"></i></span>
                    {% endif %}
                </a>
            </div>#}

    <div class="card-footer">
        
        {% do action('woocommerce_shop_loop_subcategory_title', category) %}
        {% do action('woocommerce_after_subcategory_title', category) %}
    </div>
    {% do action( 'woocommerce_after_subcategory', category ) %}

</article>