$primary: #28798a;
$secondary: #69daf2;
$tertiary: #c3ecf5;
$quaternary: #282828;
$primary-dark: #215661;
$green-dark: #1e282d;
$gray: #888888;
$blue-dark: #648190;
$white: #ffffff;
$custom-colors: (
	primary: #28798a,
	secondary: #69daf2,
	tertiary: #c3ecf5,
	quaternary: #282828,
	primary-dark: #215661,
	green-dark: #1e282d,
	gray: #888888,
	blue-dark: #648190,
	white: #ffffff,
);
$custom-colors-list: primary,secondary,tertiary,quaternary,primary-dark,green-dark,gray,blue-dark,white;
