
.hero{
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center;
	
    //hero sizes
    &.hero-xxs{
        height:150px;
        @media (max-width: 767px){
			min-height:80px;
			height:auto;
		}
	}
	&.hero-xs{
		min-height:200px;
        @include calc(height, '30vh - var(--header-height)');
		@media (min-width: 1200px) and (max-width: 1599px){
            @include calc(height, '30vh - var(--header-height-lg)');
		}
		@media (min-width: 992px) and (max-width: 1199px){
            @include calc(height, '30vh - var(--header-height-md)');
		}
		@media (min-width: 768px) and (max-width: 991px){
            @include calc(height, '30vh - var(--header-height-sm)');
		}
		@media (max-width: 767px){
			@include calc(height, '30vh - var(--header-height-xs)');
		}
	}
	&.hero-sm{
		min-height:350px;
		@include calc(height, '50vh - var(--header-height)');
		@media (min-width: 1200px) and (max-width: 1599px){
            @include calc(height, '50vh - var(--header-height-lg)');
		}
		@media (min-width: 992px) and (max-width: 1199px){
            @include calc(height, '50vh - var(--header-height-md)');
		}
		@media (min-width: 768px) and (max-width: 991px){
            @include calc(height, '50vh - var(--header-height-sm)');
		}
		@media (max-width: 767px){
			@include calc(height, '50vh - var(--header-height-xs)');
		}
	}
	&.hero-md{
		min-height:450px;
		@include calc(height, '70vh - var(--header-height)');
		@media (min-width: 1200px) and (max-width: 1599px){
            @include calc(height, '70vh - var(--header-height-lg)');
		}
		@media (min-width: 992px) and (max-width: 1199px){
            @include calc(height, '70vh - var(--header-height-md)');
		}
		@media (min-width: 768px) and (max-width: 991px){
            @include calc(height, '70vh - var(--header-height-sm)');
		}
		@media (max-width: 767px){
			@include calc(height, '70vh - var(--header-height-xs)');
		}
	}
	&.hero-lg{
		//max-height:calc(100vh - #{$header-height});
		/*@at-root .hero-ratio#{&} {
	       @include aspect-ratio(1920, 900);
	    }
		@media (max-width: 767px){
			//min-height:400px;
			height:auto;
			@at-root .hero-ratio#{&} {
		        @include aspect-ratio(1200, 900);
		        .bg-cover{
		       	    @include absolute-fill();
		        }
		    }
		}*/

		@include calc(height, '90vh - var(--header-height)');
		@media (min-width: 1200px) and (max-width: 1599px){
            @include calc(height, '90vh - var(--header-height-lg)');
		}
		@media (min-width: 992px) and (max-width: 1199px){
            @include calc(height, '90vh - var(--header-height-md)');
		}
		@media (min-width: 768px) and (max-width: 991px){
            @include calc(height, '90vh - var(--header-height-sm)');
		}
		@media (max-width: 767px){
			@include calc(height, '90vh - var(--header-height-xs)');
		}
	}
	&.hero-xl{
		@include calc(height, '100vh - var(--header-height)');
		@media (min-width: 1200px) and (max-width: 1599px){
            @include calc(height, '100vh - var(--header-height-lg)');
		}
		@media (min-width: 992px) and (max-width: 1199px){
            @include calc(height, '100vh - var(--header-height-md)');
		}
		@media (min-width: 768px) and (max-width: 991px){
            @include calc(height, '100vh - var(--header-height-sm)');
		}
		@media (max-width: 767px){
			@include calc(height, '100vh - var(--header-height-xs)');
		}
	}

	a.link-full{
		display:block;
		width:100%;
		height:100%;
	}


	.card{
		@include card-reset();
		@include absolute-fill();
		//align-items:center;
	    //justify-content:center;
	    z-index:2;
	    display:flex;
	    width:100%;
		.card-header{
				padding:40px 30px 0px 30px;
				text-align:left;
				@media (min-width: 992px) and (max-width: 1199px){
                    padding:20px 20px 0px 20px;
				}
				@media (min-width: 768px) and (max-width: 991px){
				    padding:20px 20px 0px 20px;
			    }
				.breadcrumb-container{
					display:inline-block;
					.breadcrumb{
						li{
							font-size:16px;
							a{
								color:#fff;
							}
							&~ li{
								&:before{
									color:#f8be22;
								}								
							}
						}
					}
				}
				.breadcrumb-span{
					&.background--light{
						.breadcrumb-container{
							.breadcrumb{
								li{
									a{
                                        color:var(--primary-color);
                                    }
                                    &~ li{
										&:before{
											color:var(--primary-color);
										}								
									}
                                }
                            }
                        }
					}
				}
				.card-title{
					color:#fff;
					font-weight:600;
					font-size:70px;
					line-height:1.3;
					margin:0;
					&.background--light{
                        color:$base-color;
					}
					@media (min-width: 1200px) and (max-width: 1399px){
					   font-size:66px;
					}
					@media (min-width: 992px) and (max-width: 1199px){
                       font-size:56px;
					}
					@media (min-width: 768px) and (max-width: 991px){
                       font-size:46px;
                       margin-bottom:5px;
					}
				}
				.description{
					color:#fff;
					font-size:18px;
					line-height:26px;
					@media (min-width: 992px){
						max-width:50%;
					}
					@media (min-width: 1200px) and (max-width: 1399px){
					   font-size:16px;
					   line-height:23px;
					}
					@media (min-width: 992px) and (max-width: 1199px){
                       font-size:15px;
                       line-height:22px;
					}
					@media (min-width: 768px) and (max-width: 991px){
						font-size:14px;
						line-height:20px;
						max-width:50%;
					}
					&.background--light{
                        color:var(--primary-color);
					}
				}
		}
		>.card-body{
			flex:1;
		}
		>.card-footer{
			text-align:left;
			padding:0px 30px 40px 30px;
			@media (min-width: 992px) and (max-width: 1199px){
                padding: 0px 20px 20px 20px;
            }
			@media (min-width: 768px) and (max-width: 991px){
				padding: 0px 20px 20px 20px;
			}
			.list-label{
				li{
					.label{
						background-color:$base-color-light;
						color:#fff;
					}
				}
			}
			.price{
				font-size:36px;
				color:#fff;
				font-weight:700;
				@media (min-width: 992px) and (max-width: 1199px){
				   font-size:26px;
			    }
				@media (min-width: 768px) and (max-width: 991px){
                    font-size:22px;
				}
				>del{
					font-weight:300;
					margin-right:15px;
				}
				.price-installment{
			   	   	font-weight:600;
			   	   	font-size:18px;
			   	   	.title{
			   	   	  	font-size:18px;
			   	   	}
			   	   	.parts{
			            font-weight:400;
			   	   	}
		   	    }
				&.background--light{
                    color:var(--primary-color);
				}
			}
		}
	}

	.bg-cover{
		z-index:0;
		width:100%;
		height:100%;
		display:block;
		position:relative;
		&.multiply{
			mix-blend-mode: multiply;
			background-color:$base-color-light;
		}
		&.filtered-lg{
           opacity:.25;
		}
		&.filtered-md{
           opacity:.5;
		}
		&.filtered-sm{
           opacity:.75;
		}
		&.filtered-left{
			&:before{
				content:"";
				@include absolute-fill();
				@include filter-gradient(#bf1e2d, #00bf1e2d, horizontal);
				$experimental-support-for-svg: true;
				//@include background-image(linear-gradient(left,  rgba(191,30,45,.5) 0%,rgba(191,30,45,0) 60%));
				@include background-image(linear-gradient(left,  rgba(#000,.5) 0%,rgba(#000,0) 60%));
			}
		}
		&.filtered-right{
			&:before{
				content:"";
				@include absolute-fill();
				@include filter-gradient(#00bf1e2d, #bf1e2d, horizontal);
				$experimental-support-for-svg: true;
				//@include background-image(linear-gradient(right, rgba(191,30,45,.5) 0%, rgba(191,30,45,0) 60%));
				@include background-image(linear-gradient(right, rgba(#000,.5) 0%, rgba(#000,0) 60%));
			}
		}
		img{
			object-fit:cover;
			object-position:bottom center;
			
			&.lazyloaded{
				width:100%;
			    height:100%;
			}
		}
	}

	.swiper-container{
		width:100%;
		height:100%;
		.swiper-slide{
			@include transition-property(all);
			img{
				object-fit:cover;
				object-position:bottom center;
				width:100%;
				height:100%;
			}
		}
	}


    // paging
	.swiper-thumbs{
        position:absolute;
        z-index:3;
        bottom:0px;
        left:0px;
        right:0px;
        background-color:rgba(#000,.8);
        >.swiper-wrapper{
            >.swiper-slide{
                padding:20px 30px;
                background-color:transparent;
                >.card{
                    width:100%;
                    .row{
                        align-items:center;
                        .col-image{
                            img{
                                max-width:60px;
                                border-radius:6px;
                                border:2px solid #fff;                          
                            }
                        }
                        .col-content{
                            .card-body{
                                padding-top:0;
                                padding-bottom:0;
                                height:100%;
                                .card-title{
                                    margin:0;
                                    text-align:left;
                                    color:#ddd;
                                    font-size:15px;
                                    .category{
                                        display:block;
                                        width:100%;
                                        color:lighten($base-color-light, 15%);
                                        font-weight:600;
                                        font-size:13px;
                                    }
                                }
                            }
                        }                      
                      }
                }
                &.swiper-slide-thumb-active{
                    background-color:rgba(#000,.5);
                }
            }
        }
    }
    .swiper-pagination{
        position:absolute;
        z-index:3;
        bottom:30px;
        left:0px;
        right:0px;
        text-align:center;
        .swiper-pagination-bullet{
            display:inline-block;
            width:18px;
            height:18px;
            vertical-align:bottom;
            border-radius: 50%;
            @include transition(border .3s ease-out, background-color .3s ease-out);
            background-color:transparent;//rgba(255,255,255,.4);
            opacity:1;
            margin:0 16px;
            border:3px solid rgba(#fff ,1);
            cursor:pointer;
            &:focus{
               outline:0;
            }
            &.swiper-pagination-bullet-active{
                background-color:rgba(#fff,1);
                border:3px solid rgba(#fff,1);
            }
        }
        &.swiper-pagination-lock{
        	display:none;
        }
        &.background--light{
        	.swiper-pagination-bullet{
               border-color:var(--primary-color);
        	}
		}
    }
    .swiper-button-prev,
    .swiper-button-next {
	    position: absolute;
	    font-size:32px;
	    font-weight:600;
	    color:#000;
	    top: 50%;
	    width: calc(var(--swiper-navigation-size) / 44 * 27);
	    height: var(--swiper-navigation-size);
	    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
	    z-index: 10;
	    cursor: pointer;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    color: var(--swiper-navigation-color, var(--swiper-theme-color));
	    .swiper-button-disabled {
	        opacity: 0.35;
	        cursor: auto;
	        pointer-events: none;
	    }
	    .swiper-button-white {
	       --swiper-navigation-color: #ffffff;
	    }
	    .swiper-button-black {
	      --swiper-navigation-color: #000000;
	    }
	    &:after {
	        font-family: swiper-icons;
	        font-size: var(--swiper-navigation-size);
	        text-transform: none !important;
	        letter-spacing: 0;
	        text-transform: none;
	        font-variant: initial;
	        line-height: 1;
	    }
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: -60px;
      right: auto;
    }
    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
      content: 'prev';
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: -60px;
      left: auto;
    }
    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
      content: 'next';
    }
    .swiper-button-lock {
      display: none;
    }
    @media (min-width: 992px) {
        &[data-slider-pagination-thumbs="true"]{
            .swiper-wrapper{
              .swiper-slide{
                  .swiper-content-container{
                      bottom:150px;
                  }
              }
            }
        }
    }
}