.offcanvas{

	&.offcanvas-menu{
		background-color:$primary;
		color:#fff;
		.offcanvas-header{
			.offcanvas-title{

			}
			.btn-close{

			}
		}
		.offcanvas-body{

		}
		.offcanvas-footer{
           @extend .offcanvas-header;
		}
	}

}






.offcanvas{

	.offcanvas-body{
		display:flex;
		align-items: var(--offcanvas-align-vr);
		text-align: var(--offcanvas-align-hr);
		justify-content:var(--offcanvas-align-hr);
		@if $offcanvas-item-align-hr == "start" {
			text-align: "left";
		}
		@if $offcanvas-item-align-hr == "end" {
			text-align: "right";
		}
		@media (min-width: 768px){
			@if $offcanvas-item-align-hr == "center" {
				text-align: "center";
			}
		}
	}

	&.offcanvas-menu{
		background-color:var(--offcanvas-bg);
		font-family:var(--offcanvas-item-font);
		@include font-size(var(--offcanvas-item-font-size));
		font-weight:var(--offcanvas-item-font-weight);
		color:var(--offcanvas-item-color);
		//text-transform:uppercase;
		border:none;
		.offcanvas-body{
			width: 100%;
			.nav-menu{
				width:100%;
				ul{
					li{
						display: flex;
						flex-direction: column;
						@media (min-width: 768px){
							align-items: var(--offcanvas-item-align-hr);
						}
						&.header{
							.back{
								display: flex;
								font-family:var(--offcanvas-header-font);
								@include font-size(var(--offcanvas-header-font-size);
								font-weight:var(--offcanvas-header-font-weight);
								color:var(--offcanvas-header-color);
								padding:var(--offcanvas-header-padding);
								.title{
									color:var(--offcanvas-header-color);
									padding:0;
									padding-left:15px;
								}
								&:before{
									position:relative;
									left:0;
									color:var(--offcanvas-header-icon-color);
				                    opacity:.8;
				                    flex:0;
				                    @include font-size(var(--offcanvas-header-icon-font-size));
								}
							}
						}
						a{
							position:relative;
							color:var(--offcanvas-item-color);
							padding:var(--offcanvas-item-padding);
							background-color:var(--offcanvas-item-bg);
						    text-align: left;
							&:hover{
								color:var(--offcanvas-item-color-hover);
								background-color:var(--offcanvas-item-bg-hover);
							}
							&.next{
								padding:var(--offcanvas-item-padding);
								>span{
									padding-right: 15px;
								}
								&:after{
									position:absolute;
									right:0;
					                color:var(--offcanvas-item-color);
					                opacity:.8;
					                font-weight:400;
					            }
					            @media (min-width: 768px){
						            @if $offcanvas-item-align-hr == "center" {
						            	&:after{
						            		top:0;
						            		bottom:0;
						            		height:auto;
						            		display: flex;
	 										align-items: center;
	 										justify-content: end;
						            	}
						            }
						        }
					            @include media-breakpoint-down(lg) {
					            	width:100%;
					            }
						    }
						    &:not(.next){
						    	padding-right:0px;
						    }
						    @media (min-width: 768px){
						        @if $offcanvas-item-align-hr == "center" {
						            display: inline-block;
									width: auto!important;
									position: relative;
								}
							}
						} 
					}					
				}
			}
		}
	}

	&.offcanvas-fullscreen{
		min-height:100vh;
		/*&.offcanvas-menu{
			.offcanvas-body{
				.nav-menu{
					@if $offcanvas-item-align-hr == "center" {
						width:100%;
					}
				}
			}
		}*/
	}

}


.affixed{
	.offcanvas{
		&.offcanvas-fullscreen{
			&.exclude-header{
				padding-top:var(--header-height);
				/*	@media (min-width: 1600px){   
					    padding-top:var(--header-height);
					}
					@media (min-width: 1200px) and (max-width: 1599px) {   
					    padding-top:$header-height-xl;
					}
					@media (min-width:992px) and (max-width: 1199px) {   
					    padding-top:$header-height-lg;
					}
					@media (min-width: 768px) and (max-width: 991px) {   
					    padding-top:$header-height-md;
					}
					@media (min-width: 576px) and (max-width: 767px) {
					    padding-top:$header-height-sm;
					}
					@media (max-width: 575px) {
					    padding-top:$header-height-xs;
					}
				*/		
			}
		}
	}
}