@include media-breakpoint-up(xs) {
  .sticky-xs {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(sm) {
  .sticky-xs, .sticky-sm {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(md) {
  .sticky-xs, .sticky-sm, .sticky-md {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(lg) {
  .sticky-xs,.sticky-sm, .sticky-md, .sticky-lg {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(xl) {
  .sticky-xs,.sticky-sm, .sticky-md, .sticky-lg, .sticky-xl {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(xxl) {
  .sticky-xs,.sticky-sm, .sticky-md, .sticky-lg, .sticky-xl, .sticky-xxl {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(xxxl) {
  .sticky-xs,.sticky-sm, .sticky-md, .sticky-lg, .sticky-xl, .sticky-xxl, .sticky-xxxl {
     position: sticky;
     align-self: flex-start;
  }
}

[class^="sticky-"]:not(#header), [class*=" sticky-"]:not(#header) {
    //z-index: auto!important;
}
body{
    &:not(.header-hide){

        [class^="sticky-top"], [class*=" sticky-top"] {
            top:var(--header-height);
        }
        &.affix{
            [class^="sticky-top"], [class*=" sticky-top"] {
                top:var(--header-height-affix);
            }
        }
    }
    &.header-hide{
        [class^="sticky-top"], [class*=" sticky-top"] {
            top:0px;
        }
    }
}

/*! purgecss start ignore */
[class^="sticky-"], [class*=" sticky-"] {
    &.sticked{
        .d-sticked{
            //display:block;
            visibility: visible;
        }
        .d-sticked-none{
            //display:none;
            visibility: hidden;
        }
    }
    &:not(.sticked){
        .d-sticked{
            //display:none;
            visibility: hidden;
        }
        .d-sticked-none{
            //display:block;
            visibility: visible;
        }
    }
}
/*! purgecss end ignore */