/*@include media-breakpoint-up(xs) {
  .sticky-xs {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(sm) {
  .sticky-xs, .sticky-sm {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(md) {
  .sticky-xs, .sticky-sm, .sticky-md {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(lg) {
  .sticky-xs,.sticky-sm, .sticky-md, .sticky-lg {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(xl) {
  .sticky-xs,.sticky-sm, .sticky-md, .sticky-lg, .sticky-xl {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(xxl) {
  .sticky-xs,.sticky-sm, .sticky-md, .sticky-lg, .sticky-xl, .sticky-xxl {
     position: sticky;
     align-self: flex-start;
  }
}
@include media-breakpoint-up(xxxl) {
  .sticky-xs,.sticky-sm, .sticky-md, .sticky-lg, .sticky-xl, .sticky-xxl, .sticky-xxxl {
     position: sticky;
     align-self: flex-start;
  }
}*/

%sticky-responsive-base {
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    z-index: 1020; // Varsayılan z-index
    transition: top 0.3s ease; // Header geçişleri için

    &:not(.sticked){
        z-index: 1;
    }
    &.sticked{
        z-index: 1020!important;
        
        // Eğer body'de loading varsa senin özel kuralın çalışsın
        body.loading & {
            z-index: 99 !important;
        }
    }

    // --- DİNAMİK TOP MESAFELERİ ---
    body:not(.header-hide) & {
        top: var(--header-height);
        
        body.affix & {
            top: var(--header-height-affix);
        }
    }

    body.header-hide & {
        top: 0px;
    }
}

// Breakpoint döngüsü aynı kalıyor
@each $breakpoint, $width in $grid-breakpoints {
  @include media-breakpoint-down($breakpoint) {
    .sticky-#{$breakpoint} {
      @extend %sticky-responsive-base;
    }
  }
}




[class^="sticky-"]:not(#header), [class*=" sticky-"]:not(#header) {
    //z-index: auto!important;
}
body{
    &:not(.header-hide){

        [class^="sticky-top"], [class*=" sticky-top"] {
            top:var(--header-height);
        }
        &.affix{
            [class^="sticky-top"], [class*=" sticky-top"] {
                top:var(--header-height-affix);
            }
        }
    }
    &.header-hide{
        [class^="sticky-top"], [class*=" sticky-top"] {
            top:0px;
        }
    }
}

body{
    .modal{
        [class^="sticky-top"], [class*=" sticky-top"] {
            top:0;
        }
        &.affix{
            [class^="sticky-top"], [class*=" sticky-top"] {
                top:0;
            }
        }
    }
}

/*! purgecss start ignore */
[class^="sticky-"], [class*=" sticky-"] {
    &.sticked{
        .d-sticked{
            //display:block;
            visibility: visible;
            opacity: 1;
            //height: auto; /* Ya da sabit bir değer */
            order:-1;
        }
        .d-sticked-none{
            //display:none;
            //visibility: hidden;
            visibility: hidden;
            opacity: 0;
            //height: 0;
            overflow: hidden;
            transition: opacity 0.3s ease;
            order:999;
        }
    }
    &:not(.sticked){
        .d-sticked{
            //display:none;
            //visibility: hidden;
            visibility: hidden;
            opacity: 0;
            //height: 0;
            overflow: hidden;
            transition: opacity 0.3s ease;
            order:999;
        }
        .d-sticked-none{
            //display:block;
            visibility: visible;
            opacity: 1;
            //height: aut
            order:-1;
        }
    }
}
.sticky-top,
.sticky-bottom{
    display:flex;
    flex-direction:column;
    &:not(.sticked){
        z-index: 1;
    }
    &.sticked{
        z-index: 1020!important;
    }
}
.loading{
    .sticky-top,
    .sticky-bottom{
        &.sticked{
            z-index: 99!important;
        }
    }
}

.table thead tr > th.sticky-top {
    display:table-cell!important;
    &.sticked {
        z-index: auto!important;
    }    
}

/*! purgecss end ignore */