.container-story{
	position:relative;
	padding-top:15px;
	padding-bottom:15px;
	overflow-y:hidden;
	overflow-x:auto;
	&.loading{
		height:32px;
	}
	.stories{
		text-align:center;
		overflow:visible!important;
		.story{

			@include transition(opacity .3s ease-out);
			.item-link{
				.info{
					font-size:13px;
					font-weight:500;
					white-space: normal;
				    overflow: hidden;
				    text-overflow: unset;
				    text-align: center;
				    display: block;
				    max-height: 44px;
				    color: #333;
				    margin-top:5px;
				    .name{
				    	font-size:13px;
					    font-weight:500;
				    }
				}
				
			}
			&:hover{
				opacity:1;
				.item-link{
					.item-preview{
						transform:scale(.9);
					}
				}
			}
		}
		&.carousel.rtl{
			.story{
				margin:0px 6px;
				&:first-child{
				   margin-right:0px!important;
				   margin-left:6px!important;
				}
				&:last-child{
					margin-right:6px!important;
				    margin-left:0px!important;
				}
			}
		}
	}
}


@media (max-width: 767px){
	.container-story{
		padding-top:10px;
		padding-bottom:10px;
		.stories{
			padding-left:15px;
			padding-right:15px;
			.story{
				.item-link{
					.info{
						font-size:13px;
						font-weight:500;
						white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    text-align: center;
					    display: block;
					    height: auto;
					    max-height:auto;
					    margin-top:5px;
					}
					
				}
			}
		}
	}
}



//#zuck-modal{
	#zuck-modal-content{
		//.slider{
			.story-viewer{

				.head{
					top:0;
					.left{
						a.back{

						}
						.item-preview{
							.profilePhoto{

							}
						}
						.info{
							.name{

							}
							.time{

							}
						}
					}
					.right{
						padding-right:10px;
						.time{

						}
						.loading{

						}
						.close{
							color:#fff;
							opacity:1;
						}
					}
				}

				.slides-pointers{
					.wrap{
						span{
							b{

							}
						}
					}
				}

				.slides-pagination{
					.previous,
					.next{
						cursor:pointer;
					}
					.previous{


					}
					.next{
						right:10px;

					}
				}

				.slides{
					.item{
						&[data-type="photo"]{
							display:flex;
							align-items:center;
							justify-content:center;
							.media{
								max-width:100%;
								max-height:100%;
								height:auto;
							}
						}
						.media{
	
						}
						.tip{
							&.muted{
								bottom:50%;

							}
							&.link{
								background-color:#007bff;
								color:#fff;
							}
						}
					}
				}

			}
		//}
	}
//}


.modal-stories{
	>.modal-dialog{
		>.modal-content{
			background-color:#000;
			>.modal-body{
				padding:0;
				>.bootbox-body{
					.close{
	                   position:absolute;
	                   top:10px;
	                   right:15px;
	                   z-index:2;
	                   color:#fff;
					   opacity:1;
					   text-shadow:none;
					   font-size:24px;
					   cursor: pointer;
					}
					>.swiper{
						.progress{
							//display:none;
							position:absolute;
							top:0;
							width:100vh;
							left: calc(50vw - 50vh);
                            right: calc(50vw - 50vh);
                            @media (max-width: 767px){
                                left:0px;
                                right:0px;
                            }
                            z-index:3;
                            padding:6px;
                            background-color:transparent;
                            &:before{
                            	content:"";
                            	position:absolute;
                            	left:6px;
                            	right:6px;
                            	top:6px;
                            	height:2px;
                            	background-color:rgba(#fff, .4);
                            	border-radius:4px;
                            }
							.progress-bar{
								height:2px;
								background-color:#fff;
								border-radius:4px;
							}
						}
						>.swiper-wrapper{
							>.swiper-slide{
								position:relative!important;
								width:auto;
								height:100vh;
								display:flex;
								align-items:center;
								justify-content:center;
								overflow:visible!important;
								top:auto!important;
								bottom:auto!important;
								.btn{
									display:inline-block!important;
								}
								@media (max-width: 991px){
									.btn{
										bottom:140px!important;
									}
								}
								img{
	                               max-height: 100%;
                                   width: auto;
								}
								.swiper-video{
									width:100%;
									height:100vh;
									.video-bg{
										height:100vh;
										video{
											height:100%!important;
											max-height:100%!important;
											width:auto;
										}
									}								
								}
							}
						}
						.swiper-button-prev,
						.swiper-button-next{
							color: #fff;
						}
					}
				}
			}
		}
	}
}
