:root{
	--header-height-xxxl:#{$header-height-xxxl};
	--header-height-xxl:#{$header-height-xxl};
	--header-height-xl:#{$header-height-xl};
	--header-height-lg:#{$header-height-lg};
	--header-height-md:#{$header-height-md};
	--header-height-sm:#{$header-height-sm};
	--header-height-xs:#{$header-height-xs};
	--header-height-affix:#{$header-height-affix};
	--header-height-xxxl-affix:#{$header-height-xxxl-affix};
	--header-height-xxl-affix:#{$header-height-xxl-affix};
	--header-height-xl-affix:#{$header-height-xl-affix};
	--header-height-lg-affix:#{$header-height-lg-affix};
	--header-height-md-affix:#{$header-height-md-affix};
	--header-height-sm-affix:#{$header-height-sm-affix};
	--header-height-xs-affix:#{$header-height-xs-affix};

    --hero-height-full:100vh;
	--hero-height-xxxl:#{$hero-height-xxxl};
	--hero-height-xxl:#{$hero-height-xxl};
	--hero-height-xl:#{$hero-height-xl};
	--hero-height-lg:#{$hero-height-lg};
	--hero-height-md:#{$hero-height-md};
	--hero-height-sm:#{$hero-height-sm};
	--hero-height-xs:#{$hero-height-xs};

	--salt-colors:#{$custom-colors-list};

	--font-primary:#{$font-primary};
	--font-header:#{$header-font};
	--font-nav:#{$nav-font};
	--font-icon:#{$icon-font};
	--font-icon-brands:#{$icon-font-brands};

    // Title Sizes
	@if variable-exists(title_sizes) {
	    @each $title in $title_sizes {
	        $size: map-get($title, size);
	        $font-size: map-get($title, font-size);
	        --title-#{$size}: #{$font-size};
	    }
	}
	@if variable-exists(title_mobile_sizes) {
	    @each $title in $title_mobile_sizes {
	        $size: map-get($title, size);
	        $font-size: map-get($title, font-size);
	        @media (max-width: 576px) {
		        --title-#{$size}: #{$font-size};
		    }
	    }
	}
	@if variable-exists(title_line_heights) {
	    @each $title in $title_line_heights {
	        $size: map-get($title, size);
	        $line-height: map-get($title, line-height);
		    --title-#{$size}-lh:#{$line-height};
	    }
	}

	// Text Sizes
	@if variable-exists(text_sizes) {
	    @each $text in $text_sizes {
	        $size: map-get($text, size);
	        $font-size: map-get($text, font-size);
	        --text-#{$size}:#{$font-size};
	    }
	}
	@if variable-exists(text_mobile_sizes) {
	    @each $text in $text_mobile_sizes {
	        $size: map-get($text, size);
	        $font-size: map-get($text, font-size);
	        @media (max-width: 576px) {
		        --text-#{$size}: #{$font-size};
		    }
	    }
	}
	@if variable-exists(text_line_heights) {
	    @each $text in $text_line_heights {
	        $size: map-get($text, size);
	        $line-height: map-get($text, line-height);
		    --text-#{$size}-lh:#{$line-height};
	    }
	}
}