
.breadcrumb-container{
	display:flex;
	&:empty{
		display:none!important;
	}
}


.breadcrumb{
	padding:0px;
	margin:0px;
	background-color:transparent;
	font-family: var(--breadcrumb-item-font-family);
	font-weight:var(--breadcrumb-item-font-weight);
	color:var(--breadcrumb-item-color);
	font-size:var(--breadcrumb-item-font-size);
	line-height:var(--breadcrumb-item-line-height);
	letter-spacing:var(--breadcrumb-item-letter-spacing);
	text-transform:var(--breadcrumb-item-text-transform);
	align-items:center;
	>li{
		~ li{
			 &:before{
				content:'\f105'!important;
				font-family:$icon-font;
				color:var(--$breadcrumb-sep-color);
				font-size:12px;
				font-weight:600;
				opacity:.6;
				margin:0px 5px;
			}
		}
		a{
			color:var(--breadcrumb-item-color);
			&:hover{
				color:var(--breadcrumb-item-color-hover);
			}
		}
		/*&:last-child{
			flex: 100%;
			padding:0px;
			>span{
				margin-bottom:0px;
				color:#000;
				padding-left:0px;
				font-weight:600;
				font-size:36px;
			}
			&:before{
				display:none;
			}
		}*/
	}
}

@include media-breakpoint-down(md) {
	.breadcrumb-container{
		.breadcrumb {
			text-align:center;
		    justify-content: center;
			>li{
				font-size:14px;
				a{
					span {
					    display: inline-block;
						vertical-align: middle;
					    max-width: 170px;
					    white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    line-height:1.4;
					}
				}
			}
		}	
	}
}