textarea {
    resize: none;
}

label.form-label{
    font-weight:$form-label-font-weight;
    color:$form-label-color;
    font-size:$form-label-font-size;
    display:flex;
    flex:1 0 100%;
    flex-direction:column;
    &.form-label-fake{
        text-indent:-9999px;
        display:block!important;
        flex:auto!important;
        width:100%;
    }
    >small{
        display:block;
        color:#777;
    }
    .required,
    .optional{
        display:none;
    }
    .btn-form-control-edit{
        font-size:13px;
        margin-left:10px;
        color:var(--primary);
        &.active{
           display:none;
        }
    }
}
@media (max-width: 767px) {
    label.form-label{
        font-size:$form-label-font-size-sm;
        &.form-label-fake{
            display:none;
        }
    }
}

.form-group{
    margin-bottom:30px;
}

::-ms-clear {
  display: none;
}

.btn-form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

.input-group{
   .form-control{
      box-shadow:none!important;
      &:focus{
        box-shadow:none!important;
      }
   }
   &.date{
      .form-control{
        min-width:80px;
      }
   }
    .typeahead {
       flex: 1 1 auto;
       width: auto;
    }
    .form-control.tt-input:focus {
         z-index: 3
    }
}



.form-control{
    background-image:none!important;
    &.form-control-clear{
        +.typeahead +.btn-form-control-clear,
        +.btn-form-control-clear{
            display:flex;
            align-items:center;
            padding-left:10px;
            padding-right:10px;
            color:$base-color;
            background-color:$form-input-bg-color;
            border-top:$form-input-border-top;
            border-bottom:$form-input-border-bottom;
            background-color:$form-input-bg-color;
            border-left:1px solid $form-input-bg-color;
            margin-left:-1px;
            &:before{
                font-family:$icon-font;
                content:'\f00d';
                font-weight:300;
            }
            &:last-child{
                border-right:$form-input-border-right;
                border-top-right-radius: 0.3125rem;
                border-bottom-right-radius: 0.3125rem;
            }
            +.input-group-append{
                margin-left:-1px;
            }
        }
        &:focus{
            +.typeahead +.btn-form-control-clear,
            +.btn-form-control-clear{
                background-color:$form-input-bg-color-focus;
                border-top:$form-input-border-focus-top;
                border-bottom:$form-input-border-focus-bottom;
                &:last-child{
                   border-right:$form-input-border-focus-right;
                }
            }
        }
        &.is-invalid{
            border-top:$form-input-border-top;
            border-bottom:$form-input-border-bottom;
            border-left:$form-input-border-left;
            border-right:$form-input-border-right;
            +.typeahead +.btn-form-control-clear,
            +.btn-form-control-clear{
              //border-color:#dc3545;
            }
        }
        &:not(:valid) {
            +.typeahead +.btn-form-control-clear,
            +.btn-form-control-clear{
                display:flex!important;
                &:before{
                    display:none;
                }
            }
        }
        &:valid {
        }   
    }
    &.form-control-password-toggle{
        border-right:none;
        +.input-group-append{
            .btn{
                background-color:$form-input-bg-color;
                border-top:$form-input-border-top;
                border-bottom:$form-input-border-bottom;
                border-left:none;
                border-right:$form-input-border-right;
                color:#999;
            }
        }
        &:focus{
            border-right:none;
            +.input-group-append{
                .btn{
                    background-color:$form-input-bg-color-focus;
                    border-top:$form-input-border-focus-top;
                    border-bottom:$form-input-border-focus-bottom;
                    border-right:$form-input-border-focus-right;
                }
            }
        }
        &[type="text"]{
            +.input-group-append{
                .btn{
                    color:#333;
                }
            }
        }
        &.border-success,
        &.is-valid{
            +.input-group-append{
                .btn{
                  //border-color:$success!important;
                }
            }
        }
        &.border-danger,
        &.is-invalid{
            +.input-group-append{
                .btn{
                   border-color:$danger!important;
                }
            }
        }
        &.border-warning{
            +.input-group-append{
                .btn{
                  //border-color:$warning!important;
                }
            }
        }
    }
    &.form-control-readonly{
        border-right:none;
        background-color:$form-input-bg-color;
        +.input-group-append{
            .btn{
                background-color:$form-input-bg-color;
                border-top:$form-input-border-top;
                border-bottom:$form-input-border-bottom;
                border-left:none;
                border-right:$form-input-border-right;
                color:#ccc;
                z-index:1;
            }
        }
        &:focus{
            border-right:none;
            +.input-group-append{
                .btn{
                    background-color:$form-input-bg-color-focus;
                    border-top:$form-input-border-focus-top;
                    border-bottom:$form-input-border-focus-bottom;
                    border-right:$form-input-border-focus-right;
                }
            }
        }
        &.border-success,
        &.is-valid{
            +.input-group-append{
                .btn{
                  border-color:$success!important;
                }
            }
        }
        &.border-danger,
        &.is-invalid{
            +.input-group-append{
                .btn{
                  border-color:$danger!important;
                }
            }
        }
        &.border-warning{
            +.input-group-append{
                .btn{
                  border-color:$warning!important;
                }
            }
        }
    }
    &.form-control-editable{
        @include transition(padding .3s ease-out);
    }
    &.datepicker{
        &[readonly]{
            color:$form-input-color;
            background-color:$form-input-bg-color;
            border-top:$form-input-border-top;
            border-bottom:$form-input-border-bottom;
            border-left:$form-input-border-left;
            border-right:$form-input-border-right;
        }
    }
}

.form-control-plaintext{
    &:focus{
        outline:0;
    }
}


.form-select{
    font-family:sans-serif!important;
    &.form-control-editable{
        @include transition(padding .3s ease-out);
    }
}





.help-block{
    font-family:$font-primary;
    &.with-errors{
        font-size:14px;
        font-style: italic;
        //opacity: .8;
        display:block;
        width:100%;
        margin-bottom:0px;
        >ul{
            margin-bottom:0;
            >li{
                display:block;
                ~ li{
                    display:none;
                }
            }
        }
    }
}

em{
    &.is-invalid{
        font-family:$font-primary;
        font-size:14px;
        font-style: italic;
        display:block;
        width:100%;
        margin-top:5px;
        margin-bottom:0px;
        color:$danger;
        >ul{
            margin-bottom:0;
            >li{
                display:block;
                ~ li{
                    //display:none;
                }
            }
        }
        +em.is-invalid{
            //display:none!important;
        }
    }
    &.is-valid{
        font-family:$font-primary;
        font-size:14px;
        font-style: italic;
        display:block;
        width:100%;
        margin-top:5px;
        margin-bottom:0px;
        color:$success;
        >ul{
            margin-bottom:0;
            >li{
                display:block;
                ~ li{
                    //display:none;
                }
            }
        }
    }
}




.form-control{
      @include transition(border .3s ease-out, color .3s ease-out, background-color .3s ease-out);

      color:$form-input-color;
      font-family:$form-input-font;
      font-weight:$form-input-font-weight;
      text-transform:$form-input-text-transform;
      background-color:$form-input-bg-color;
      border-top:$form-input-border-top;
      border-bottom:$form-input-border-bottom;
      border-left:$form-input-border-left;
      border-right:$form-input-border-right;
      border-radius:$form-input-border-radius;

      &:focus{
        color:$form-input-color-focus;
        background-color:$form-input-bg-color-focus;
        border-top:$form-input-border-focus-top;
        border-bottom:$form-input-border-focus-bottom;
        border-left:$form-input-border-focus-left;
        border-right:$form-input-border-focus-right;
        box-shadow:none;
      }

      &:valid { 
        //color:$form-input-color-focus; 
      }
      &.is-valid{
            /*border-top:$form-input-border-top;
            border-bottom:$form-input-border-bottom;
            border-left:$form-input-border-left;
            border-right:$form-input-border-right;*/
            padding-right:16px;
            &:focus{
              border-top:$form-input-border-focus-top;
              border-bottom:$form-input-border-focus-bottom;
              border-left:$form-input-border-focus-left;
              border-right:$form-input-border-focus-right;
              box-shadow:none;
            }
      }
      &.is-invalid{
        padding-right:12px;
        &.form-control-lg{
            padding-right:16px;
        }

      }

      

      //placeholders
      &::-moz-placeholder {
         color: $form-input-color-placeholder;
         font-weight:$form-input-font-weight-placeholder;
         text-transform:$form-input-text-transform-placeholder;
      }
      &:-moz-placeholder {
         color: $form-input-color-placeholder;
         font-weight:$form-input-font-weight-placeholder;
         text-transform:$form-input-text-transform-placeholder;
      }
      &::-webkit-input-placeholder {
         color: $form-input-color-placeholder;
         font-weight:$form-input-font-weight-placeholder;
         text-transform:$form-input-text-transform-placeholder;
      }
      &:-ms-input-placeholder {
         color: $form-input-color-placeholder;
         font-weight:$form-input-font-weight-placeholder;
         text-transform:$form-input-text-transform-placeholder;
      }
      //placeholders - error
      &.wpcf7-not-valid{
          &::-moz-placeholder{
             color: $form-input-color-placeholder-error;
          }
          &::-moz-placeholder{
             color: $form-input-color-placeholder-error;
          }
          &::-webkit-input-placeholder {
             color: $form-input-color-placeholder-error;
          }
          &:-ms-input-placeholder {
             color: $form-input-color-placeholder-error;
          }
      }

}





/************************************

Forms

************************************/
input#billing_state{
  +.select2,
  +.select2-container{
    display:none!important;
  }
}
select#billing_state{
  +.select2{
    +.select2{
      display:none!important;
    }
  }
  +.select2-container{
    +.select2-container{
      display:none!important;
    }
  }
}
.select2,
.select2-container{
  +.select2,
  +.select2-container{
    display:none!important;
  }
}












@mixin switch($res: 'sm') {
    $index: 1rem;
    $mainVal: 1rem;
  
    @if $res == 'md' {
        $index: 2rem;
        $mainVal: 1.5rem;
    } @else if $res == 'lg' {
        $index: 3rem;
        $mainVal: 2rem;
    } @else if $res == 'xl' {
        $index: 4rem;
        $mainVal: 2.5rem;
    }
    display:flex;
    align-items:center;
    margin-bottom: $index / 2; /* JUST FOR STYLING PURPOSE */

    .form-check-input {
        height: $mainVal;
        width: calc(#{$index} + 0.75rem);
        margin-left: calc(0px - (#{$index} + 0.75rem));
        border-radius: $mainVal * 2;
        +.form-check-label{
            margin-left:10px;
        }
    }
}

.form-check-input {
  clear: left;
}
.form-switch.form-switch-sm {
    @include switch();
}

.form-switch.form-switch-md {
    @include switch('md');
}

.form-switch.form-switch-lg {
    @include switch('lg');
}

.form-switch.form-switch-xl {
    @include switch('xl');
}



// prevent input autofill background colot
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: $form-input-color;
  -webkit-box-shadow: none;
  transition: background-color .3s ease-in-out;
}





.ajax-paginate{

    &[data-load='button'],
    &:not([data-load]){
        .btn-next-page{
            &.loading,
            &.loading-process{
                pointer-events:none;
                background-image:none!important;
                background-color:transparent!important;
                border-color:transparent!important;
                span{
                    opacity:0;
                }
            }
        }
    }

    &[data-load='scroll']{
        .btn-next-page{
            background-image:none!important;
            background-color:transparent!important;
            border-color:transparent!important;
            cursor:default;
            span{
                opacity:0;
            }
        }
    }

    >.card-footer{
        position:relative;
    }
}

.form-check-dark{
    .form-check-input:checked[type="radio"]{
        background-color:#fff!important;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='%23111'/></svg>")!important;
    }
}