/*.list-social{
	margin:0px;
	font-size:24px;
	>li{
		a{
			display:inline-block;
			color:inherit;
			@include transition(all .2s ease-out);
			&:hover{
				color:inherit;
			}
		}
		&:not(:first-child){
			margin-left:15px;
		}
		&:not(:last-child){
            margin-right:0px;
		}
	}
}
.rtl{
	.list-social{
		>li{
			&:not(:last-child){
				margin-right:auto;
			}
			&:not(:first-child){
				margin-left:auto;
				margin-right:15px;
			}
		}
	}
}*/

.list-social {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 24px;
    display: flex; // Inline-block yerine flex kullanmak hizalama için daha iyidir
    align-items: center;

    > li {
        // li'ler arasında boşluk bırakmak için:
        // Her elemanın başına (LTR'de sol, RTL'de sağ) boşluk ekle
        // Ama en baştakine ekleme
        &:not(:first-child) {
            margin-inline-start: 15px; 
        }

        a {
            display: inline-block;
            color: inherit;
            @include transition(all .2s ease-out);

            &:hover {
                color: inherit;
                transform: translateY(-2px); // Sosyal medya ikonlarına yakışır
            }
        }
    }
}
