.pagination{
	font-family:var(--pagination-font-family);
	font-size:var(--pagination-font-size);
	font-weight:var(--pagination-font-weight);
	text-align:var(--pagination-align);
	justify-content:var(--pagination-align);
	border:none;
	align-items:center;
	line-height:1.2;
	>li.page-item{
		>a.page-link{
			font-size:var(--pagination-font-size);
			min-width:35px;
			border:var(--pagination-item-border);
			color:var(--pagination-item-color);
			background-color:var(--pagination-item-bg-color)!important;
			border-radius:var(--pagination-item-border-radius);
			@include transition(background-color .3s ease-out, color .3s ease-out, border-color .3s ease-out);
			&:hover{
			   color:var(--pagination-item-color-hover);
			   background-color:var(--pagination-item-bg-color-hover)!important;
			   border:var(--pagination-item-border-hover)!important;
			}
		}
		&.active{
			.page-link{
				color:var(--pagination-item-color-active)!important;
				font-weight:var(--pagination-font-weight-active);
				background-color:var(--pagination-item-bg-color-active)!important;
				border:var(--pagination-item-border-active)!important;
				border-radius:var(--pagination-item-border-radius);
				z-index:auto;
			}
		}
		&:not(:last-child){
			margin-right:var(--pagination-item-gap);
		}
		@if strip-unit($pagination-item-gap) > 0 and strip-unit($pagination-item-border-radius) > 0 {
		    &:first-child,
		    &:last-child{
		    	.page-link{
		    		border-radius:var(--pagination-item-border-radius);
		    	}
		    }
		}
		&:not(.page-item-ajax){
			&.prev, 
			&.next{
				font-size:var(--pagination-nav-font-size);
				>a.page-link{
					color:var(--pagination-nav-color)!important;
					background-color:var(--pagination-nav-bg-color)!important;
					border:var(--pagination-nav-border)!important;
					border-radius: var(--pagination-nav-border-radius);
					display:flex;
					&:hover{
	                    color:var(--pagination-nav-color-hover)!important;
	                    background-color:var(--pagination-nav-bg-color-hover)!important;
					    border:var(--pagination-nav-border-hover)!important;
					}
					span{
						&:before{
							content:"";
							font-family:var(--pagination-nav-font-family);
						}
					}
				}
				&.disabled{
					a{
						color:var(--pagination-nav-color-disabled);
					}
				}
			}
			&.prev{
				>a.page-link{
					span{
						&:before{
							 content: var(--pagination-nav-prev-text);
						}
					}
				}
			}
			&.next{
				a.page-link{
					span{
						&:before{
							content:var(--pagination-nav-next-text);
						}					
					}
				}
			}			
		}
	}
}

.btn-pagination-ajax{
	position: relative;
	&.loading,
	&.ajax-scroll{
		background-color:transparent!important;
		border-color:transparent!important;
		span{
			visibility:hidden;
		}
	}
}