
a.scroll-to-top{
	//@if $scroll-to-top-show == "no" {
	//	display:none;
	//}
	display: var(--scroll-to-top-show);
	position: fixed;
	display: flex;
	align-items:center;
	justify-content:center;
	text-align: center;
	width: var(--scroll-to-top-width);
	height: var(--scroll-to-top-height);
	@if $scroll-to-top-hr == "left"{
		left: var(--scroll-to-top-gap);
	}
	@if $scroll-to-top-hr == "center"{
		left: calc(50vw - var(--scroll-to-top-height));
	}
	@if $scroll-to-top-hr == "right"{
		right: var(--scroll-to-top-gap);
	}
	@if $scroll-to-top-vr == "top"{
		top: var(--scroll-to-top-gap);
	}
	@if $scroll-to-top-vr == "center"{
		top: calc(50vh - var(--scroll-to-top-height));
	}
	@if $scroll-to-top-vr == "bottom"{
		bottom: var(--scroll-to-top-gap);
	}
	border-radius: var(--scroll-to-top-radius);
	color: var(--scroll-to-top-color)!important;
	background-color: var(--scroll-to-top-bg-color);
	font-size: var(--scroll-to-top-font-size);
	padding-top: 0px;
	z-index: 999;
	@include transition(all .3s ease-out!important);
	&:hover{
		color: var(--scroll-to-top-color-hover)!important;
	    background-color: var(--scroll-to-top-bg-color-hover)!important;
	}
}