.table{
	tr{
		th.col-fixed,
		td.col-fixed{
			width:1%;
		}
    th.col-fit,
    td.col-fit{
      white-space:pre;
      min-width:200px;
    }
		th.col-image,
		td.col-image{
			width:150px;
			max-width:150px;
			min-width:100px;
		}
		th.col-field-xs,
		td.col-field-xs{
			width:50px;
			max-width:50px;
			min-width:50px;
		}
		th.col-field-sm,
		td.col-field-sm{
			width:100px;
			max-width:100px;
			min-width:100px;
		}
		th.col-field-md,
		td.col-field-md{
			width:150px;
			max-width:150px;
			min-width:150px;
		}
		th.col-field-lg,
		td.col-field-lg{
			width:180px;
			max-width:180px;
			min-width:180px;
		}
		td{
			vertical-align:middle;
		}
	}

	&.table-list{
		>thead{
			>tr{
				th,td{
                   //font-size:16px;
                   //font-weight:700;
                   vertical-align:middle;
                   border-top:none!important;
                   a{
                   	  display:inline-block;
                   	  vertical-align:middle;
                   }
                   .icon{
                   	  font-size:20px;
                   	  color:#333;
                   	  margin-left:5px;
                   }
				}
			}
		}
    >tbody{
        >tr{
            >td{
                padding-left:15px;
                padding-right:15px;
            }
        }
    }
	}



  &.table-module{
      
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      font-size: 14px;
      color: #666;
      thead{
          tr{
              color:#111;
              font-size:16px;
              th{
                  border:none;
              }
          }
      }
      tbody{
          font-size:14px;
          th{
              vertical-align:middle;
          }
          tr:first-child{
             td{
                border-top:none;
             }
          }
      }

      &.table-module-shadow{
         box-shadow: 0 2px 5px 0 rgba(19, 41, 104, .2);
      }

      &.table-module-border{
         border:1px solid #ddd;
      }
  }
  
}



@media (max-width: 767px) {
    .table-list{
	   	  display:inline-block;
	   	  width:100%;
	   	  >thead{
	   	  	  display:none;
	   	  }
	   	  >tbody,
	   	  >tbody > tr,
	   	  >tbody > tr > td{
	   	  	  display:inline-block;
	   	  	  width:100%;
	   	  	  border:none;
	   	  }
	   	  >tbody > tr{
	   	  	 border:none;
	   	  	 background-color:transparent!important;

	   	  	 >td{
	   	  	 	background-color:transparent!important;
	   	  	 	min-height:30px;
	   	  	 	&:first-child{
	   	  	 		padding:15px 15px 0px 15px;
	   	  	 		padding-bottom:5px;
	   	  	 		font-weight:600;
	   	  	 	}
	   	  	 	&:last-child{
	   	  	 		padding:0px 15px 15px 15px;
	   	  	 	}
	   	  	 }
	   	  	 &:not(:last-child){
	   	  	 	border-bottom:1px solid #ddd;
	   	  	 }
	   	  }
   	}
}



.table-responsive{
  	padding:0px;
    @media (max-width: 767px) {
       border:1px solid #ddd;
    }
}



@media screen and (max-width: 767px) {
  table.table-responsive {
        border: 0;
        caption {
            font-size: 16px;
        }
        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }
        td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 14px;
            text-align: right;
            &:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
  }
}


/*
.table-responsive-data {
  margin: 16px 0;
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  th {
    display: none;
  }
  td {
    display: block;
    &:first-child {
      padding-top: 8px;
    }
    &:last-child {
      padding-bottom: .5em;
    }
    &:before {
      content: "";//attr(data-th) ": ";
      font-weight: 600;
      width: 104px;
      display: inline-block;
    }
  }
  th, td {
    text-align: left;
  }
  border-radius: 6px;
  overflow: hidden;
  th, td {
    margin: 8px 16px;
  }
  th, td:before {}
}

@media (min-width: 768px) {
  .table-responsive-data td:before {
    display: none;
  }
}

@media (min-width: 768px) {
  .table-responsive-data {
    th, td {
      display: table-cell;
      padding: 4px 8px;
    }
    th:first-child, td:first-child {
      padding-left: 0;
      border-top: none;
    }
    th:last-child, td:last-child {
      padding-right: 0;
    }
  }
}

@media (min-width: 768px) {
  .table-responsive-data {
    th, td {
      padding: 16px !important;
    }
  }
}

@media (max-width: 767px) {
  .table-responsive-data {
    thead {
      display: none;
    }
    tr {
      margin-bottom: 30px;
      border: 1px solid #999;
      border-radius: 6px;
      display: block;
      td {
        &:first-child {
          border-top: none;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
*/

.table-static-column.fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
    z-index:1;
    background-color:#fff;
}
@media(min-width:768px) {
    .table-static-column.fixed-column {
        display: none;
    }
}





//https://codepen.io/amwill04/pen/QNPpqx
.table-div {
    display: table;
    width: 1000%;
    margin:auto;
    border-collapse: separate;
    .tr, .thead {
        display: table-row;
    }
    .th {
        display: table-cell;
        border-bottom: #ccc 1px solid;
        border-top: #ccc 1px solid;
        padding-top: 10px;
        padding-bottom: 10px;
        &:first-child {
            border-left: #ccc 1px solid;
            border-top-left-radius: 5px;
        }
        &:last-child {
            border-right: #ccc 1px solid;
            border-top-right-radius: 5px;
        }
    }
    .table_small {
        display: table-cell;
    }
    .tr {
        > .table_small {
            > .td {
                &:nth-child(odd) {
                    display: none;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                padding: $table-cell-padding-y $table-cell-padding-x;
            }
            &:first-child > .td {
              border-left: #ccc 1px solid;
            }
            &:last-child > .td {
              border-right: #ccc 1px solid;
            }
        }

        &:last-child > .table_small {
            &:last-child > .td:last-child {
              border-bottom-right-radius: 5px;
            }

            &:first-child > .td:last-child {
              border-bottom-left-radius: 5px;
            }
        }

        &:nth-child(2n+3) {
            background: #e9e9e9;
        }
    }

    &.table-div-bordered{
        .tr {
            > .table_small {
                > .td {
                   border-bottom: #ccc 1px solid;
                }
            }
        }
    }
    &.table-div-striped{
        .tr {
            &:nth-child(2n+3) {
                background: #e9e9e9;
            }
        }
    }

    @media screen and (max-width: 650px) {
        display: block;
        
        .tr:nth-child(2n+3) {
             background: none;
        }

        .thead {
            display: none;
        }

        .tr > .table_small > .td:nth-child(odd), .td {
            display: table-cell;
            width: 50%;
        }

        .tr {
            display: table;
            width: 100%;
            border-collapse: separate;
            padding-bottom: 20px;
            margin: 5% auto 0;
        }

        .table_small {
            display: table-row;
        }
        
         &.table-div-bordered{
            .tr > .table_small {
                &:first-child {
                    > .td:last-child {
                        border-left: none;
                    }

                    > .td {
                        &:first-child {
                          border-top-left-radius: 5px;
                          border-top: #ccc 1px solid;
                        }

                        &:last-child {
                          border-top-right-radius: 5px;
                          border-top: #ccc 1px solid;
                        }
                    }
                }

                > .td:first-child {
                    border-left: #ccc 1px solid;
                }

                &:last-child {
                    > .td:first-child {
                        border-right: none;
                    }

                    > .td {
                        &:first-child {
                          border-bottom-left-radius: 5px;
                        }

                        &:last-child {
                          border-bottom-right-radius: 5px;
                        }
                    }
                }

                > .td:last-child {
                     border-right: #ccc 1px solid;
                }
            }
        }
    }
}


/* Stack Tasarımı (Ortak) */
[class*="table-responsive-stack-auto"].is-stacked,
.table-responsive-stack-sm, .table-responsive-stack-md, 
.table-responsive-stack-lg, .table-responsive-stack-xl {
    /* Masaüstünde normal tablo gibi davranır */
}

/* --- Breakpoint Tetikleyicileri --- */
@media (max-width: 575.98px) { .table-responsive-stack-sm { --stack-active: 1; } }
@media (max-width: 767.98px) { .table-responsive-stack-md { --stack-active: 1; } }
@media (max-width: 991.98px) { .table-responsive-stack-lg { --stack-active: 1; } }
@media (max-width: 1199.98px) { .table-responsive-stack-xl { --stack-active: 1; } }

/* --- ASIL SİHİR BURADA: Stack Görünümü --- */
/* Eğer auto modunda 'is-stacked' gelmişse VEYA manuel breakpoint'in CSS değişkeni aktifse */
[class*="table-responsive-stack"].is-stacked,
[style*="--stack-active: 1"],
[class*="table-responsive-stack-"][style*="--stack-active: 1"] {
    /* Buraya yukarıda konuştuğumuz block, data-label ve kart görünümlerini koyuyoruz */
}

/* Örnek Uygulama (LG için) */
@media (max-width: 991.98px) {
    .table-responsive-stack-lg, .table-responsive-stack-auto.is-stacked {
        display: block;
    }
    .table-responsive-stack-lg thead, .table-responsive-stack-auto.is-stacked thead { display: none; }
    .table-responsive-stack-lg tr, .table-responsive-stack-auto.is-stacked tr { 
        display: block; border: 1px solid #eee; margin-bottom: 15px; 
    }
    .table-responsive-stack-lg td, .table-responsive-stack-auto.is-stacked td {
        display: flex; justify-content: space-between; padding: 10px; border-bottom: 1px solid #f4f4f4;
    }
    .table-responsive-stack-lg td::before, .table-responsive-stack-auto.is-stacked td::before {
        content: attr(data-label); font-weight: bold;
    }
}