.tooltip{

	&.tooltip-slim{
		background-color:transparent;
		border:none;
		border-radius:0px;
		.tooltip-inner{
			background-color:transparent;
		    border:none;
		    border-radius:0px;
		    font-family:$font-primary;
		    color:#333;
		    font-size:16px;
		    font-weight:700;
		}
	}

}