h1,h2,h3,h4,h5,h6{
	//line-height:1.2;
	strong,b{
		//font-weight:inherit;
	}
}
/*h1{
	@include font-size($typography_h1_size);
	font-weight:$typography_h1_weight;
}
h2{
	@include font-size($typography_h2_size);
	font-weight:$typography_h2_weight;
}
h3{
	@include font-size($typography_h3_size);
	font-weight:$typography_h3_weight;
}
h4{
	@include font-size($typography_h4_size);
	font-weight:$typography_h4_weight;
}
h5{
	@include font-size($typography_h5_size);
	font-weight:$typography_h5_weight;
}
h6{
	@include font-size($typography_h6_size);
	font-weight:$typography_h6_weight;
}
*/

.font-primary{
	font-family:$font-primary;
} 
.font-header{
	font-family:$header-font;
} 
.font-nav{
	font-family:$nav-font;
}
.font-icon{
	font-family:$icon-font;
}
.font-icon-brands{
	font-family:$icon-font-brands;
}

@for $i from 1 through 9 {
	.fw-#{$i * 100} {
		font-weight: $i * 100;
	}
}



// Title Sizes
@if variable-exists(title_sizes) {
    @each $title in $title_sizes {
        $size: map-get($title, size);
        $font-size: map-get($title, font-size);
        .title-#{$size} {
            @include media-breakpoint-up(sm) {
            	@include font-size($font-size);
            }
            @include media-breakpoint-down(sm) {
            	font-size: var(--text-#{$size});
            }
            //font-size: var(--title-#{$size});
        }
    }
}
@if variable-exists(title_line_heights) {
    @each $title in $title_line_heights {
        $size: map-get($title, size);
        $line-height: map-get($title, line-height);
        @if $line-height != 0 {
	        .title-#{$size} {
	           @include media-breakpoint-up(sm) {
	               @include rfs($line-height, line-height);
	           }
	           @include media-breakpoint-down(sm) {
	           	   line-height: var(--title-#{$size}-lh);
	           }
	        }
        }
    }
}



// Text Sizes
@if variable-exists(text_sizes) {
    @each $text in $text_sizes {
        $size: map-get($text, size);
        $font-size: map-get($text, font-size);
        .text-#{$size} {
        	@include media-breakpoint-up(sm) {
            	@include font-size($font-size);
            }
            @include media-breakpoint-down(sm) {
            	font-size: var(--text-#{$size});
            }
            //font-size: var(--text-#{$size});
        }
    }
}
@if variable-exists(text_line_heights) {
    @each $text in $text_line_heights {
        $size: map-get($text, size);
        $line-height: map-get($text, line-height);
        @if $line-height != 0 {
	        .text-#{$size} {
	           @include media-breakpoint-up(sm) {
	               @include rfs($line-height, line-height);
	           }
	           @include media-breakpoint-down(sm) {
	           	   line-height: var(--text-#{$size}-lh);
	           }
	        }
        }
    }
}