
/*h1{
	@include font-size($typography_h1_size);
	font-weight:$typography_h1_weight;
}
h2{
	@include font-size($typography_h2_size);
	font-weight:$typography_h2_weight;
}
h3{
	@include font-size($typography_h3_size);
	font-weight:$typography_h3_weight;
}
h4{
	@include font-size($typography_h4_size);
	font-weight:$typography_h4_weight;
}
h5{
	@include font-size($typography_h5_size);
	font-weight:$typography_h5_weight;
}
h6{
	@include font-size($typography_h6_size);
	font-weight:$typography_h6_weight;
}
*/

.font-primary{
	font-family:var(--font-primary);
} 
.font-header{
	font-family:var(--header-font);
} 
.font-nav{
	font-family:var(--nav-font);
}
.font-icon{
	font-family:var(--icon-font);
}
.font-icon-brands{
	font-family:var(--icon-font-brands);
}

@for $i from 1 through 6 {
	h#{$i} {
		font-family:var(--header-font);
	}
}

@for $i from 1 through 9 {
	.fw-#{$i * 100} {
		font-weight: $i * 100;
	}
}

.title-fluid{
	font-size: var(--title-fs)!important;
	line-height: var(--title-lh);
}
.text-fluid{
	font-size: var(--text-fs)!important;
	line-height: var(--text-lh);
}

@if variable-exists(grid-breakpoints) {
	@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
	    .title-#{$breakpoint-name}{
	         font-size: var(--title-fs-#{$breakpoint-name})!important;
	         line-height: var(--title-lh-#{$breakpoint-name});
	    }
	    .text-#{$breakpoint-name}{
	         font-size: var(--text-fs-#{$breakpoint-name})!important;
	         line-height: var(--text-lh-#{$breakpoint-name});
	    }
    }
}

.lh-md{
	line-height:1.7 !important
}