.woocommerce{
	width: 100%;
}

.input-text{
	@extend .form-control !optional;
}


input[type='number']{
    //visibility:hidden;
}
.product-quantity{
    .input-group{
        align-items:center;
        overflow:hidden;
        border:1px solid #ddd;
        border-radius:22px;
        .form-control{
            border-color:transparent;
        }
        .btn{
            display:flex;
            justify-content:center;
            border-color:transparent;
            background-color:$form-spinner-button-bg-color;
            color:$form-spinner-button-color;
            &:hover{
                color:$form-spinner-button-color-hover;
                background-color:$form-spinner-button-bg-color-hover;
            }
            strong{
                font-size: 28px;
                font-weight: normal;
                line-height:1;
            }
        }
        input[type='number']{
            //visibility:visible;
        }
    }

    &.product-quantity-lg{
        .input-group{
            max-width:180px;
        }
    }
    &.product-quantity-md{
        .input-group{
            max-width:160px;
        }
    }
    &.product-quantity-sm{
        .input-group{
            max-width:140px;
        }
    }
    &.product-quantity-sm{
        .input-group{
            max-width:120px;
        }
    }  
}


.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup--{
	position:relative;//fixed;
	top:0px;
	left:0px;
	right:0px;
	//z-index:2000;
	font-size:16px;
	font-weight:600;
	text-align:center;
	display:block;//none;
	.alert{
		padding:20px;
		/*.button{
			@extend .btn;
			@extend .btn-sm;
			@extend .btn-extend;
			margin-top:10px;
		}
		&.alert-info{
			.button{
	            @extend .btn-info;
	        }
		}
		&.alert-success{
			.button{
	            @extend .btn-success;
	        }
		}
		&.alert-danger{
			.button{
			    @extend .btn-danger;
			}
		}*/
	}
	&.has-btn{
		.container{
			display:flex;
            //justify-content: flex-start;
            flex-direction: column-reverse;
            align-content:center;
            align-items:center;
		}
	}
}

#content{
	>.woocommerce-notices-wrapper{
		margin-bottom:30px;
		&:empty{
			margin-bottom:0;
			display:none;
		}
	}
}

.woocommerce,
.woocommerce-notices-wrapper{
	>.alert{
		margin:0px!important;
	}
}





.woocommerce-Price-currencySymbol,
.currency{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif!important; 
}






//checkout product, shipping
.card-checkout{
	background-color:transparent!important;
	border:none;

		>.card-header{
	       border:none;
	       padding-left:0px;
	       padding-right:0px;
	       background-color:transparent;
	       .card-title{
	          margin:0;
	          font-weight:500;
	          color:#111;
	       }
	       p{
	       	  display:block;
	       	  color:#666;
	       	  font-size:12px;
	       }
	       img{
	       	   display:none!important;
	       }
	       label{
	       	  font-weight:600;
	       	  font-size:16px;
	       }
		}
		>.card-body{
			padding:0px;
			.card,
			.card-body,
			.card-footer{
			}
		}
		>.card-footer{
	       background-color:transparent;
		   border:none;
		   padding-left:0px;
	       padding-right:0px;
	       .woocommerce-terms-and-conditions-wrapper{
	       	   display:block;
	       	   margin-bottom:20px;
	       }
		}
		&.active{
			>.card-header{
				background-color:#ebad19;
			}
		}	
}


.woocommerce form .form-row{
	margin-bottom:20px;
	label{
		line-height:1;
		font-weight:500;
	}
}



.card{

	.card-thankyou{
		.card-header{
			.card-title{

			}
			.order-details{
				>li{

				}

			}
		}
		.card-body{

		}
		.card-footer{
			
		}
	}

}




body.woocommerce-checkout{
	background-color:#eee!important;
}

.card-checkout-products{
    color:#111;
	.woocommerce-checkout-review-order{
		#order_review_heading{
			display:none;
		}
	}

}

table.woocommerce-checkout-review-order-table{
	thead{
		tr{
			td.product-name{

			}
			td.product-total{

			}
		}
	}
	tbody{
		tr{
			td.product-name{
				font-weight:600;
				font-size:16px;
				color:$base-color;
				.product-quantity{
					//display:none;
					font-weight:400;
				}
				.variation{
					font-weight:400;
					font-size:13px;
					color:#333;
					display:none!important;
				}
				.variation-SecondPaymentAmount{
					display:none;
				}
			}
			td.product-total{
				.amount{
					//display:none;
				}

			}
		}
	}
	tfoot{
		.cart-subtotal,
		.order-total{
			//display:none;
		}
		.order-paid{
			td{
				font-size:18px;
			}
		}
		.order-remaining{
			display:none;
		}
	}
}

.woocommerce-checkout-payment{
	>.card-header{
        display:none;
	}
	>.card-body{
        padding:0;
	}
	>.card-footer{
		padding-left:0;
		padding-right:0;
		padding-bottom:0;
		padding-top:40px;
	    .place-order{
	    	margin:0;
	    }
	}
}



.wc-saved-payment-methods{
    list-style: none;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 0;
	margin:0;
	color: #777;
	>li{
		padding:8px 15px;
	    &:not(:last-child){
	  	    border-bottom:1px solid #ddd;
	    }
	    .custom-control{
	    	display:flex;
		    input:checked{
		    	+label{
		    		color:#111;
		    		font-weight:600;
		    	}
		    }	    	
	    }
	}

}



//checkout product, shipping
.wc_payment_methods{
	background-color:transparent!important;
	border:none;

	.card.wc_payment_method{
		>.card-header{
	       border:none;
	       background-color:transparent;
	       @include transition(background-color .3s ease-out);
	       .card-title{
	          margin:0;
	          font-weight:500;
	          color:#111;
	       }
	       p{
	       	  display:block;
	       	  color:#666;
	       	  font-size:12px;
	       }
	       img{
	       	   display:none!important;
	       }
	       label{
	       	  font-weight:600;
	       	  font-size:16px;
	       	  color:#666;
	       }
		}
		>.card-body{
			padding:0px;
			font-size:13px;
			color:#666;
			.card,
			.card-body,
			.card-footer{
			}
			#stripe-payment-data{

			}
			
		}
		>.card-collapse{
			>.card-body{
				p{
					font-size:13px;
				}
				.woocommerce-SavedPaymentMethods-saveNew{
					margin:0!important;
					padding-left:25px!important;
					color:#666;
					font-size:13px;
				}
				.payment_method_stripe{
					//display:none;
				}
			}
		}
		>.card-footer{
	       background-color:transparent;
		   border:none;
		   padding-left:0px;
	       padding-right:0px;
	       margin-bottom:0;
	       padding-bottom:0;

	       .woocommerce-terms-and-conditions-wrapper{
	       	   display:block;
	       	   margin-bottom:20px;
	       }
		}
		&.active{
			>.card-header{
				background-color:#f5f5f5;
				.custom-control.custom-checkbox input:checked + label.form-check-label{
					color:#111;
				}
				.custom-control.custom-checkbox input:checked + label.form-check-label::before {
				    background-color: #333;
				    border-color: #333;
				}
			}
		}			
	}
}

.wc-credit-card-form{
	margin-top:30px;
	&.d-none{
		+.woocommerce-SavedPaymentMethods-saveNew{
			//display:none;
		}
	}
}


.woocommerce form .form-row{
	margin-bottom:20px;
	label{
		line-height:1;
		font-weight:500;
	}
}


a[data-zoom]{
	display:block;
}


input#billing_state{
	+.select2,
	+.select2-container{
		display:none!important;
	}
}
select#billing_state{
	+.select2{
		+.select2{
			display:none!important;
		}
	}
	+.select2-container{
		+.select2-container{
			display:none!important;
		}
	}
}
.select2,
.select2-container{
	+.select2,
	+.select2-container{
		display:none!important;
	}
}


#stripe-payment-data{

	.wc-credit-card-form{
		.form-row{
			flex-direction:column;
			padding:0!important;
			label{
				font-weight:600;
				font-size:15px;
				margin-bottom:4px;
			}
			.stripe-card-group{
				
			}
			.wc-stripe-elements-field, 
			.wc-stripe-iban-element-field{
				border-radius:5px;
				padding:8px;
			}
		}
	}
}
.CardBrandIcon-container{
   display:block!important;
}