


 #yobro-inbox{
	 .yoBro-chatbox-main-content{
		 border-bottom:none;
		 box-shadow:none;
		 border-radius:0;
		 border:none;
		 height:auto;
		 .yoBro-chatbox-sidebar{
			 .yoBro-chatHeader{
				 background-color:#fff;
				 .yoBroUserSearch{
				}
			}
			 .yoBro-chatHistory{
				 .yoBro-singleChatMsg{
					 .yoBro-msgWrapper{
						 .yoBro-msgHeader{
							 margin:0;
							 .userName{
								 font-size: 13px;
								 font-weight: 600;
							}
							 .chatTime{
								 font-size:11px;
								 color:#aaa;
							}
						}
						 .msgExcerpt{
							 font-size:12px;
						}
					}
					 .yoBro-userImgGrp{
						 display:none;
					}
					 &.active{
					}
				}
			}
		}
		 .yoBro-chatbox{
			 .yoBro-chatBody{
				 .yoBro-chatBody-header{
					 background-color:#fff;
					 border-bottom:none;
					 .backBtn{
						 padding:0 15px;
						 margin-right:10px;
					}
					 .title{
						 font-size:12px;
						 font-weight:600;
						 color:#999;
						 flex:1;
						 margin:0px;
						 text-transform:uppercase;
						 small{
							 display:block;
							 color:#111;
							 font-size:14px;
							 text-transform:none;
							 margin-top:2px;
						}
					}
					 .new-msg{
						 display:none;
					}
					 .settingsBtnGrp{
						 display:none;
						 .settingBtn{
							 i{
							}
						}
					}
				}
				 .chat-body-content{
					overflow:visible;
					 .yoBro-singleChatMsgGrp{
						 .userImg{
							 img{
							}
						}
						 .yoBro-singleChatMsgWrapper{
							 .yoBro-singleChatMsg{
								 margin-bottom:5px;
								 .yoBro-chatMsgWrapper{
									 .yoBro-chatMsgContent{
										 .msgText{
											 padding:10px 15px 
										}
									}
									 .msgTime{
									}
								}
							}
						}
						 &.friendsMsg{
						}
						 &.ownerMsg{
							 .yoBro-chatMsgContent{
								 background-color:#1d9ced;
								 .msgText{
									 color:#fff;
									 p{
										 color:#fff;
									}
									 a{
										 color:#fff;
										 background-color: rgba(0,0,0,.2);
										 padding: 1px 6px;
										 border-radius: 4px;
										 @include transition(background-color .3s ease-out);
										 &:hover{
											 background-color: rgba(0,0,0,.3);
										}
									}
								}
								 .chatDltBtn{
									 &:before{
										 font-size:18px;
										 color:#999;
									}
								}
							}
							 .msgTime{
							}
						}
					}
				}

				.yoBro-chatTypebox{
					.yoBro-TypeArea{
						 background-color:#fff;
						.filepicker{
							.dz-message{
								&:before{
									font-size:72px;
									line-height:48px;
									color:#ddd;
								}
								span{
								}
							}
							.closeBtn{
								 left:auto;
								 right:10px;
								 top:10px;
								 color:#666;
								 &:before{
									 font-size:22px;
								}
							}
						}
						.yoBro-EditorWrapper{
							 .yoBro-fileAttachBtn{
								 &:before{
								}
							}
							 .DraftEditor-root{
							 	font-size:18ox;
							 	color:#888;
							}
							.yoBro-sendBtn{
								 border-radius:32px;
								 background-color:var(--bs-secondary);
								 width:auto;
								 padding:20px 40px;
								 color:#fff;
								 @include transition(background-color .3s ease-out, color .3s ease-out);
								 &:before{
									 display:none;
								}
								 &:after{
									 content:"SEND";
									 font-weight:600;
									 font-size:14px;
									 margin-left:5px;
									 color:#fff;
								}
								 &:hover{
									 //background-color:#999;
									 &:after{
										 color:#fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	 .modalHolder{
		 .modal-dialog{
			 margin:0!important;
			 max-width:none!important;
			 .yoBro-Modal-header{
				 .close{
					 margin:auto!important;
				}
			}
		}
	}
}
 @media (max-width: 767px) {
	 #yobro-inbox{
		 .yoBro-chatbox-main-content{
			 border:none;
			 box-shadow:none;
			 border-radius:0px;
		}
		 .modalHolder{
			 .modal-dialog{
				 .yoBro-Modal-header{
					 .close{
					}
				}
			}
		}
	}
}
 .swal-overlay{
	 background-color:rgba($base-color,.9);
}
 .modal{
	 &.modal-chat{
		 >.modal-dialog{
			 >.modal-content{
				 >.modal-header{
				}
				 >.modal-body{
					 padding:0;
					 #yobro-inbox{
						 .yoBro-chatbox-main-content{
							 box-shadow:none;
							 border:none;
							 border-top-left-radius:0;
							 border-top-right-radius:0;
						}
					}
				}
			}
		}
	}
}
 .card-chat{
	 #yobro-inbox{
		 .yoBro-chatbox-main-content{
			 border:none!important;
			 box-shadow:none!important;
		}
	}
}
