.login {
    form {
      border: 0 none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
      label {
        //color: #fff;
        input {
          border-radius: 4px;
        }
      }
    }
    h1 {
        margin: 0 auto;
        padding: 0;
        width:auto;
        height:auto;
        a{
          display: block;
          width:auto;
          height:auto;
          margin:auto;
          padding: 0;
          text-indent:0!important;
          background-image:none!important;
          &:link, &:visited, &:hover, &:active {
            background-position: center bottom;
          }
          img{
              max-height:150px;
          }
        }
        &.admin-email__heading{
            //color: #fff;
            width: auto;
            height: auto;
            text-align: center;
            //border-color: rgba(#fff, .4);
            font-size: 24px;
            font-weight: 600;
        }
    }
}

p{
    &.admin-email__details{
        //color: #fff;
        width: auto;
        height: auto;
        text-align: center;
        //border-color: rgba(#fff, .4);
        font-size: 24px;
    }
    &.admin-email__actions{
        text-align:center;
    }
}

p.message {
   margin-top: 30px;
}

.wp-core-ui .button-primary {
    //background-color: transparent;
    background-image: none;
    //border-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: none;
    box-shadow: none;
    //color: #fff;
    text-decoration: none;
    text-shadow: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color .3s ease-out, color .3s ease-out;
    &:hover {
        //background-color: #fff;
        background-image: none;
        border-color: transparent;
        border-bottom-color: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        //color: #be1e2d;
        text-decoration: none;
        text-shadow: none;
    }
}

/*
.login #nav, 
.login #backtoblog { text-shadow: #FFF 0 1px 0; }*/

.login {
    #nav{
      text-align:center;
    }
    #nav a, #backtoblog a {
      //color: #fff !important;
      transition: background-color .3s ease-out, color .3s ease-out;
    }
    #nav a:hover, #backtoblog a:hover {
      //color: #f7941e !important;
    }
    #backtoblog{
        display:none;
    }
    label {
      //color: #f7941e;
    }
    .description{
       //color:#fff;
       line-height:16px;
       .indicator-hint{

       }
    }
    .submit{
        display:flex;
        justify-content:end;
        .button{
            &:disabled{
                //background-color: rgba(#fff,.2) !important;
                //border-color: rgba(#fff,.4) !important;
                //color: rgba(#fff,.4) !important;
            }
        }
    }
}




/*
.login h1 a {
  -webkit-transition: 0 ease;
     -moz-transition: 0 ease;
       -o-transition: 0 ease;
      -ms-transition: 0 ease;
          transition: 0 ease;
}
#login {
  -webkit-transition: .3s ease;
     -moz-transition: .3s ease;
       -o-transition: .3s ease;
      -ms-transition: .3s ease;
          transition: .3s ease;
}*/

@media only screen and (min-width: 768px) {
  #login {
    width: 400px;
  }
}