@keyframes spinner {
	to {transform: rotate(360deg);}
}


 
.loading{
		&:after {
			content: '';
			box-sizing: border-box;
			position: absolute;
			top: 50%;
			left: 50%;
			width: ($loading-size-default)+px;
			height: ($loading-size-default)+px;
			margin-top: -($loading-size-default/2)+px;
			margin-left: -($loading-size-default/2)+px;
			border-radius: 50%;
			border-top: 2px solid $loading-color-dark;
			border-right: 2px solid transparent;
			animation: spinner .6s linear infinite;
	}
	//&:not(.loaded){
	@each $screen-size in $base-screen-sizes {
				&.loading-#{$screen-size}:after { 
					$index : index($base-screen-sizes, $screen-size);
								width  : #{nth($loading-sizes,$index)}px;
								height : #{nth($loading-sizes,$index)}px;
								margin-top  : -#{nth($loading-sizes,$index)/2}px!important;
						margin-left : -#{nth($loading-sizes,$index)/2}px!important;
						//zoom: $index;
				}
	}
	//}
	&.loading-light{
		&:after {
				border-top: 2px solid $loading-color-light!important;
		}
	}
	&.loading-dark{
		&:after {
					border-top: 2px solid $loading-color-dark!important;
			}
	}
	&.loading-fade{
		&:before{
			content:"";
			position:fixed;
			top:0;
			left:0;
			bottom:0;
			right:0;
			background-color:rgba($loading-color-bg-light,.8);
		}
		&.loading-dark{
			&:before {
					background-color:rgba($loading-color-bg-light,.8);
			}
		}
		&.loading-light{
			&:before {
					background-color:rgba($loading-color-bg-dark,.8);
			}
		}
		&.loading-base{
			&:before {
					background-color:rgba($base-color,.8);
			}
		}
	}
	&.loaded:before,
	&.loaded:after,
	&.lazyloaded:after,
	&.lazy-loaded:after{
		overflow-y:auto!important;
		opacity:0;
		transform: scale(0);
		@include transition(opacity .3s ease-out, transform .3s ease-out .3s);
	}
}

/*with bg circle loading
	border: 2px solid #ccc;
	border-top-color: #333;
*/





.loading-process{
		@extend .loading;
		&:after{
			z-index:100;
		}
		&.ratio{
			display: flex!important;
			align-items:center;
			justify-content: center;
			&:before{
				content:"";
				position:static!important;
				padding-bottom:100%!important;
				width:100%!important;
				background-color:rgba($body-bg-color ,.9);//rgba(255,255,255,.8);
				z-index:100!important;      
			}
			&:after{
					 z-index:100!important;
					 margin-top:auto!important;
					 margin-left:auto!important;
					 left:auto!important;
					 top:auto!important;
					 z-index:2!important;
					 padding-bottom:0px!important;
			}
		}
		&:not(.ratio){
			&:before{
				content:"";
				position:absolute;
				top:0;
				left:0;
				bottom:0;
				right:0;
				background-color:rgba($body-bg-color ,.9);//rgba(255,255,255,.8);
				z-index:100;
			}     
		}
		&.loading-process-solid{
			 &:before{
				 background-color:rgba($body-bg-color ,.9);//rgba(255,255,255,1);
		   }
		}
		&.loading-process-white{
			 &:before{
				 background-color:rgba(#fff ,.9);//rgba(255,255,255,1);
		   }
		}
		&.loading-dark{
			 &:before{
				 background-color:rgba(0,0,0,.8);
			 }
			 &.loading-process-solid,
			 &.loading-process-white{
					 &:before{
					 background-color:rgba(0,0,0,1);
			     }
			}
		}

		.btn-loading-page{
			pointer-events:none;
			opacity:.6;
		}
}


.loading-hide:not(.loaded){
	@extend .loading;
	*{
		visibility:hidden!important;
	}
	&.square-responsive,
		&.ratio{
			display: flex!important;
			align-items:center;
			justify-content: center;
			&:before{
				content:"";
				position:static!important;
				padding-bottom:100%!important;
				width:100%!important;
				background-color:rgba($body-bg-color ,.8);//rgba(255,255,255,.8);
				z-index:2!important;      
			}
			&:after{
					 z-index:2!important;
					 margin-top:auto!important;
					 margin-left:auto!important;
					 left:auto!important;
					 top:auto!important;
					 z-index:2!important;
					 padding-bottom:0px!important;
			}
		}
		&.show,
		.show{
			opacity:0!important;
		}
}

body.loading:not(.loaded){
	overflow-y:hidden;
	@extend .loading-lg;
	&:after{
			z-index:101;
			position:fixed;
		}
	&:before{
			content:"";
		position:fixed;
		top:0;
		left:0;
		bottom:0;
		right:0;
		background-color:rgba($body-bg-color ,.8);//rgba(255,255,255,.8);
		z-index:100;
		}
}

.loading{
		&.bootstrap-select{
				 pointer-events:none;
		}
}



.loading-circle,
.loading-circle:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
.loading-circle {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes load8Reverse {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
@keyframes load8Reverse {
	0% {
		-webkit-transform: rotate(-0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(360deg);
	}
}