.pagination{
	font-family:$pagination-font-family;
	font-size:$pagination-font-size;
	font-weight:$pagination-font-weight;
	text-align:$pagination-align;
	justify-content:$pagination-align;
	border:none;
	align-items:center;
	>li.page-item{
		>a.page-link{
			min-width:35px;
			border:$pagination-item-border;
			color:$pagination-item-color;
			background-color:$pagination-item-bg-color!important;
			border-radius:$pagination-item-border-radius;
			@include transition(background-color .3s ease-out, color .3s ease-out, border-color .3s ease-out);
			&:hover{
			   color:$pagination-item-color-hover;
			   background-color:$pagination-item-bg-color-hover!important;
			   border:$pagination-item-border-hover!important;
			}
		}
		&.active{
			.page-link{
				color:$pagination-item-color-active!important;
				font-weight:$pagination-font-weight-active;
				background-color:$pagination-item-bg-color-active!important;
				border:$pagination-item-border-active!important;
				border-radius:$pagination-item-border-radius;
				z-index:auto;
			}
		}
		&:not(:last-child){
			margin-right:$pagination-item-gap;
		}
		@if strip-unit($pagination-item-gap) > 0 and strip-unit($pagination-item-border-radius) > 0 {
		    &:first-child,
		    &:last-child{
		    	.page-link{
		    		border-radius:$pagination-item-border-radius;
		    	}
		    }
		}
		&:not(.page-item-ajax){
			&.prev, 
			&.next{
				font-size:$pagination-nav-font-size;
				>a.page-link{
					color:$pagination-nav-color!important;
					background-color:$pagination-nav-bg-color!important;
					border:$pagination-nav-border!important;
					border-radius: $pagination-nav-border-radius;
					display:flex;
					&:hover{
	                    color:$pagination-nav-color-hover!important;
	                    background-color:$pagination-nav-bg-color-hover!important;
					    border:$pagination-nav-border-hover!important;
					}
					span{
						&:before{
							font-family:"#{$pagination-nav-font-family}";
						}
					}
				}
				&.disabled{
					a{
						color:$pagination-nav-color-disabled;
					}
				}
			}
			&.prev{
				>a.page-link{
					span{
						&:before{
							 content: "#{$pagination-nav-prev-text}";
						}
					}
				}
			}
			&.next{
				a.page-link{
					span{
						&:before{
							content:"#{$pagination-nav-next-text}";
						}					
					}
				}
			}			
		}
	}
}

.btn-pagination-ajax{
	position: relative;
	&.loading,
	&.ajax-scroll{
		background-color:transparent!important;
		border-color:transparent!important;
		span{
			visibility:hidden;
		}
	}
}