{% if hero %}
<section class="page-hero">
                <div class="slider-page-hero swiper-container">
                     <div class="swiper-wrapper">
                          {% for slide in hero %}
                             <div class="swiper-slide">
                                  <div class="swiper-block container centered">
                                       <div class="title hide">{{title}}</div>
                                  </div>
                                  {% set img_lg = slide.sizes.large %}
                                  {% set img_md = slide.sizes.medium %}
                                  {% set img_sm = slide.sizes.medium_large %}
                                  <div class="swiper-bg bg-cover lazyload" {{function("lazySizesResponsive",{
                                                                                      sm : img_sm,
                                                                                      md : img_md,
                                                                                      lg : img_lg 
                                                                                    })}}></div>
                             </div>
                          {% endfor %}
                     </div>
                </div>
</section>
{% endif %}